<!--{eval $_TPL['titles'] = array('好友');}-->
<!--{template header}-->

<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_friend">
		<h3 class="feed_header">
			<a href="cp.php?ac=friend&op=search" class="r_option" target="_blank">寻找好友</a>
			好友(共 $count 个)
		</h3><br>

		<!--{if $list}-->
		<div id="friend_ul">
			<ul class="line_list">
			<!--{loop $list $key $value}-->
				<li>
				<table width="100%">
					<tr>
					<td width="70">
						<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
					</td>
					<td>
					<div class="thumbTitle"><p<!--{if $ols[$value[uid]]}--> class="online_icon_p"<!--{/if}-->><a href="space.php?uid=$value[uid]"<!--{eval g_color($value[groupid]);}-->>{$_SN[$value[uid]]}</a> <!--{eval g_icon($value[groupid]);}--></p></div>

					<!--{if $value[note]}--><div>$value[note]</div><!--{/if}-->

					<!--{if $ols[$value[uid]]}--><div class="gray"><!--{date('H:i',$ols[$value[uid]],1)}--></div><!--{/if}-->
					<div class="setti">

					<!--{if !$value['isfriend']}-->
					<a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 1)">加为好友</a>
					<!--{/if}-->
					</div>
					</td></tr></table>
				</li>
			<!--{/loop}-->
			</ul>
		</div>
		<div class="page">$multi</div>

		<!--{else}-->
		<div class="c_form">
			没有相关用户列表。
		</div>
		<!--{/if}-->
	</div><br />

<!--{else}-->

<!--{if $space[self]}-->
<div class="searchbar floatright">
<!--{if $_GET[view]=='me'}-->
<form method="get" action="space.php">
	<input type="hidden" name="do" value="friend">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="找好友" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
</form>
<!--{else}-->
<form method="get" action="cp.php">
	<input type="hidden" name="ac" value="friend" />
	<input type="hidden" name="op" value="search" />
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="找人" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
</form>
<!--{/if}-->
</div>
<h2 class="title"><img src="image/icon/friend.gif" />好友</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=friend"><span>好友列表</span></a></li>
		<li><a href="cp.php?ac=friend&op=search"><span>查找好友</span></a></li>
		<li><a href="cp.php?ac=friend&op=find"><span>可能认识的人</span></a></li>
		<!--{if empty($_SCONFIG['closeinvite'])}-->
		<li><a href="cp.php?ac=invite"><span>邀请好友</span></a></li>
		<!--{/if}-->
		<li><a href="cp.php?ac=friend&op=request"><span>好友请求</span></a></li>
		<li><a href="space.php?do=top"><span>排行榜</span></a></li>
	</ul>
</div>
<div id="content" style="width: 640px;">

	<div class="c_mgs"><div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
		<!--{if $_GET['view']=='blacklist'}-->
			加入到黑名单的用户，将会从您的好友列表中删除。同时，对方将不能进行与您相关的打招呼、踩日志、加好友、评论、留言、短消息等互动行为。
		<!--{elseif $_GET['view']=='me'}-->

			当前共有 $space[friendnum] 个好友。


			<!--{if $maxfriendnum}-->
			(最多可以添加 $maxfriendnum 个好友)
			<p>
				<!--{if $_SGLOBAL[magic][friendnum]}-->
				<img src="image/magic/friendnum.small.gif" class="magicicon" />
				<a id="a_magic_friendnum" href="magic.php?mid=friendnum" onclick="ajaxmenu(event, this.id, 1)">我要扩容好友数</a>
				(您可以购买道具“{$_SGLOBAL[magic][friendnum]}”来扩容，让自己可以添加更多的好友。)
				<!--{/if}-->
			</p>
			<!--{/if}-->

			<p style="padding-top:10px;">
			好友列表按照好友热度高低排序<br>
			好友热度是系统根据您与好友之间交互的动作自动累计的一个参考值，数值越大，表示您与这位好友互动越频繁。
			</p>
		<!--{elseif $_GET['view']=='online'}-->
			<!--{if $_GET['type'] == 'friend'}-->
			这些好友当前在线，赶快去拜访一下吧
			<!--{elseif $_GET['type']=='near'}-->
			通过系统匹配，这些朋友就在您附近，您可能认识他们
			<!--{else}-->
			显示当前全部在线的用户
			<!--{/if}-->
		<!--{elseif $_GET['view']=='visitor'}-->
			他们拜访过您，回访一下吧
		<!--{elseif $_GET['view']=='trace'}-->
			您曾经拜访过的用户列表
		<!--{/if}-->
	</div></div></div></div></div>

	<!--{if $_GET['view']=='blacklist'}-->
	<div class="h_status">
		<h2>添加新黑名单用户</h2>
		<form method="post" name="blackform" action="cp.php?ac=friend&op=blacklist&start=$_GET[start]">
			用户名：<input type="text" name="username" value="" size="15" class="t_input">
			<input type="submit" name="blacklistsubmit_btn" id="moodsubmit_btn" value="添加" class="submit">
			<input type="hidden" name="blacklistsubmit" value="true" />
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
	<!--{/if}-->

	<!--{if $list}-->
	<div class="thumb_list" id="friend_ul">
		<ul>
		<!--{loop $list $key $value}-->
			<li id="friend_{$value[uid]}_li">
				<!--{if $value[username] == ''}-->
				<div class="avatar48"><img src="image/magic/hidden.gif" alt="匿名" /></div>
				<div class="thumbTitle"><p>匿名</p></div>
				<!--{else}-->
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<div class="thumbTitle">
				<p<!--{if $ols[$value[uid]]}--> class="online_icon_p"<!--{/if}-->>
					<a href="space.php?uid=$value[uid]"<!--{eval g_color($value[groupid]);}-->>{$_SN[$value[uid]]}</a> 
					<!--{eval g_icon($value[groupid]);}-->
					<!--{if $value['videostatus']}-->
					<img src="image/videophoto.gif" align="absmiddle">
					<!--{/if}-->
				</p></div>
				<!--{if $value[note]}--><div>$value[note]</div><!--{/if}-->
				<!--{/if}-->

				<!--{if $_GET['view']=='blacklist'}-->
					<div class="gray"><a href="cp.php?ac=friend&op=blacklist&subop=delete&uid=$value[uid]&start=$_GET[start]">黑名单除名</a></div>
				<!--{elseif $_GET['view']=='visitor' || $_GET['view'] == 'trace'}-->
					<div class="gray"><!--{date('n月j号',$value[dateline],1)}--></div>
				<!--{elseif $_GET['view']=='online'}-->
					<div class="gray"><!--{date('H:i',$ols[$value[uid]],1)}--></div>
				<!--{else}-->
					<!--{if $ols[$value[uid]]}--><div class="gray"><!--{date('H:i',$ols[$value[uid]],1)}--></div><!--{/if}-->
					<div class="gray">
					<!--{if $value['num']}--><a href="cp.php?ac=friend&op=changenum&uid=$value[uid]" id="friendnum_$value[uid]" onclick="ajaxmenu(event, this.id)">热度(<span id="spannum_$value[uid]">$value[num]</span>)</a><span class="pipe">|</span><!--{/if}-->
					<!--{if !$value['isfriend']}-->
					<a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 1)">加为好友</a>
					<!--{else}-->
					<a href="cp.php?ac=friend&op=changegroup&uid=$value[uid]" id="friend_group_$value[uid]" onclick="ajaxmenu(event, this.id)">分组</a><span class="pipe">|</span>
					<a href="cp.php?ac=friend&op=ignore&uid=$value[uid]" id="a_ignore_$key" onclick="ajaxmenu(event, this.id)">删除</a>
					<!--{/if}-->
					</div>
				<!--{/if}-->
			</li>
		<!--{/loop}-->
		</ul>
	</div>
	<div class="page">$multi</div>

	<!--{else}-->
	<div class="c_form">
		没有相关用户列表。
	</div>
	<!--{/if}-->

</div>

<div id="sidebar" style="width: 150px;">
	<!--{if $_SCONFIG['my_status']}-->
	<!-- 同步好友至Manyou 开始 -->
	<script type="text/javascript">
		function my_sync_tip(msg, close_time) {;
			var my_tip = document.getElementById("my_tip");
			if (!my_tip) {
				my_tip = document.createElement("div");
				document.getElementsByTagName("body")[0].appendChild(my_tip);
				my_tip.id = "my_tip";
			}
			my_tip.style.display = 'block';
			my_tip.innerHTML = '<div class="popupmenu_centerbox" style="position: absolute; top: 200px; right: 500px; padding: 20px; width: 300px; height: 15px; z-index:9999;">' + msg + '</div>';
			if (close_time) {
				setTimeout("document.getElementById('my_tip').style.display = 'none';", close_time);
			}
		}
		function my_sync_friend() {
			my_sync_tip('正在同步好友信息...', 0);
			var my_scri = document.createElement("script");
			document.getElementsByTagName("head")[0].appendChild(my_scri);
			my_scri.charset = "UTF-8";
			my_scri.src = "http://uchome.manyou.com/user/syncFriends?sId=$_SCONFIG[my_siteid]&uUchId=$space[uid]&ts=$_SGLOBAL[timestamp]&key=<!--{eval echo md5($_SCONFIG[my_siteid] . $_SCONFIG[my_sitekey] . $space[uid] . $_SGLOBAL[timestamp]);}-->";
		}
	</script>

	<div class="c_mgs"><div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
		<p>在游戏中找不到自己的好友？请点击下面的的按钮，将好友信息同步到里面。</p>
		<p style="text-align: center;padding: 20px 0 0;"> <a href="#" onclick="my_sync_friend(); return false;" title="将好友关系同步至Manyou平台，以便在应用里看到他们"><img alt="刷新好友信息" src="image/syncfriend.gif"/></a> </p>
	</div></div></div></div></div>
	<!-- 同步好友至Manyou 结束 -->
	<!--{/if}-->

	<div class="cat">
		<h3>
			好友菜单
		</h3>
		<ul>
			<li{$a_actives[me]}><a href="space.php?uid=$space[uid]&do=friend">全部好友列表</a></li>
			<li{$a_actives[onlinefriend]}><a href="space.php?uid=$space[uid]&do=friend&view=online&type=friend">当前在线的好友</a></li>
			<li{$a_actives[onlinenear]}><a href="space.php?uid=$space[uid]&do=friend&view=online&type=near">就在我附近的朋友</a></li>
			<li{$a_actives[visitor]}><a href="space.php?uid=$space[uid]&do=friend&view=visitor">我的访客</a></li>
			<li{$a_actives[trace]}><a href="space.php?uid=$space[uid]&do=friend&view=trace">我的足迹</a></li>
			<li{$a_actives[blacklist]}><a href="space.php?uid=$space[uid]&do=friend&view=blacklist">我的黑名单</a></li>
		</ul>
	</div>

	<!--{if $groups}-->
	<div class="cat">
		<h3>
			<span class="r_option"><a href="cp.php?ac=friend&op=group">批量分组</a></span>
			好友分组
		</h3>
		<ul class="post_list line_list">
			<li><a href="space.php?do=friend&group=-1">全部好友</a></li>
			<!--{loop $groups $key $value}-->
			<li{$groupselect[$key]}>
				<a href="cp.php?ac=friend&op=groupignore&group=$key" id="c_ignore_$key" onclick="ajaxmenu(event, this.id)" title="屏蔽用户组动态" class="c_delete">屏蔽</a>
				<!--{if $key}-->
				<a href="cp.php?ac=friend&op=groupname&group=$key" id="c_edit_$key" onclick="ajaxmenu(event, this.id, 1)" title="编辑用户组名" class="c_edit">编辑</a>
				<!--{/if}-->
				<!--{if isset($space['privacy']['filter_gid'][$key])}--><span class="gray">[屏蔽]</span><!--{/if}--> <a href="space.php?do=friend&group=$key"><span id="friend_groupname_$key">$value</span></a>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
	<!--{/if}-->

</div>


<!--{else}-->
<!--{eval
	$_TPL['spacetitle'] = "好友";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=friend&view=me\">TA的好友列表</a>";
}-->
	<!--{template space_menu}-->
	<div class="h_status">共有 $space[friendnum] 个好友</div>
	<!--{template space_list}-->

<!--{/if}-->

<!--{/if}-->

<!--{template footer}-->
