	<div class="space_list">
	<!--{if $list}-->
	<!--{loop $list $key $value}-->
	<table cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td width="65"><div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div></td>
		<td>
			<h2>
				<!--{if $ols[$value[uid]]}--><img src="image/online_icon.gif" align="absmiddle"> <!--{/if}-->
				<a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}"<!--{eval g_color($value[groupid]);}-->>{$_SN[$value[uid]]}</a>
				<!--{if $value['username'] && $_SN[$value[uid]]!=$value['username']}--><span class="gray">($value[username])</span><!--{/if}-->
				<!--{eval g_icon($value[groupid]);}-->
				<!--{if $value['videostatus']}-->
				<img src="image/videophoto.gif" align="absmiddle">
				<!--{/if}-->
			</h2>
			<!--{if $value[sex]==2}--><p>美女</p><!--{elseif $value[sex]==1}--><p>帅哥</p><!--{/if}--></p>
			<p>
				<!--{if $_GET['view']=='show'}-->竞价<!--{/if}-->积分：$value[credit] / <!--{if $value[experience]}-->经验：$value[experience] / <!--{/if}-->人气：$value[viewnum] / 好友：$value[friendnum]</p>
			<!--{if $value[note]}-->$value[note]<!--{/if}-->
		</td>
		<td width="100">
			<ul class="line_list">
				<li><a href="space.php?uid=$value[uid]">去串个门</a></li>
				<li><a href="cp.php?ac=poke&op=send&uid=$value[uid]" id="a_poke_$key" onclick="ajaxmenu(event, this.id, 1)" title="打招呼">打个招呼</a></li>
				<!--{if isset($value['isfriend']) && !$value['isfriend']}--><li><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 1)" title="加好友">加为好友</a></li><!--{/if}-->	
			</ul>
		</td>
	</tr>
	</table>
	<!--{/loop}-->
	<div class="page">$multi</div>
	<!--{else}-->
	<div class="c_form">没有相关成员。</div>
	<!--{/if}-->
	</div>

