<!--{eval $_TPL['titles'] = array('群组话题');}-->
<!--{template header}-->

<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_photo">
		<h3 class="feed_header">
			<a href="cp.php?ac=thread" class="r_option" target="_blank">发表话题</a>
			群组话题(共 $count 个)</h3>
		<!--{if $list}-->
		<ul class="line_list">
		<!--{loop $list $key $value}-->
			<li><a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]" target="_blank">$value[subject]</a>
			<span class="gray">&nbsp;<a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank">$value[tagname]</a></span></li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">还没有话题列表。</div>
		<!--{/if}-->
	</div><br>
<!--{else}-->

<!--{if $space[self]}-->
<div class="searchbar floatright">
<form method="get" action="space.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="搜索话题" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="thread" />
	<input type="hidden" name="view" value="all" />
</form>
</div>
<h2 class="title"><img src="image/app/mtag.gif">群组 - 话题</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="space.php?uid=$space[uid]&do=thread"><span>群组话题</span></a></li>
		<li><a href="space.php?do=mtag&view=me"><span>我参与的群组</span></a></li>
		<li><a href="space.php?do=mtag&view=manage"><span>我管理的群组</span></a></li>
		<li><a href="space.php?do=mtag&view=hot"><span>热门群组</span></a></li>
		<li><a href="space.php?do=mtag&view=recommend"><span>推荐群组</span></a></li>
		<li class="null"><a href="cp.php?ac=thread">发起新话题</a></li>
		<li class="null"><a href="cp.php?ac=mtag">创建群组</a></li>
	</ul>
</div>
<div class="h_status">
	<a href="space.php?uid=$space[uid]&do=thread&view=hot"$actives[hot]>热门话题</a><span class="pipe">|</span>
	<a href="space.php?uid=$space[uid]&do=thread&view=new"$actives[new]>最新话题</a><span class="pipe">|</span>
	<a href="space.php?uid=$space[uid]&do=thread&view=me"$actives[me]>我的话题</a>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "话题";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=thread&view=me\">TA的所有话题</a>";
}-->
<!--{template space_menu}-->
<div class="h_status">按照发布时间排序</div>
<!--{/if}-->

<!--{if $searchkey}-->
<div class="h_status">以下是搜索话题 <span style="color:red;font-weight:bold;">$searchkey</span> 结果列表</div>
<!--{/if}-->

<!--{if $list}-->
<div class="topic_list">
	<table cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				<td class="subject">主题</td>
				<td class="mtag">群组</td>
				<td class="author"><!--{if $_GET[view]!='me'}-->作者 <!--{/if}-->(回应/阅读)</td>
				<td class="lastpost">最后更新</td>
			</tr>
		</thead>
		<tbody>
		<!--{loop $list $key $value}-->
			<!--{eval $magicegg = ""}-->							
			<!--{eval if($value[magicegg]) for($i=0; $i<$value[magicegg]; $i++) $magicegg .= '<img src="image/magic/egg/'.mt_rand(1,6).'.gif" />';}-->
			<tr<!--{if $key%2==1}--> class="alt"<!--{/if}-->>
				<td class="subject">
					$magicegg <a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a>
					<!--{if $value[hot]}-->
					<br><span class="gray">$value[hot] 人推荐</span>
					<!--{/if}-->
				</td>
				<td><a href="space.php?do=mtag&tagid=$value[tagid]">$value[tagname]</a></td>
				<td class="author"><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a><br><em>$value[replynum]/$value[viewnum]</em></td>
				<td class="lastpost"><a href="space.php?uid=$value[lastauthorid]" title="{$_SN[$value[lastauthorid]]}">{$_SN[$value[lastauthorid]]}</a><br><!--{date('m-d H:i',$value[lastpost],1)}--></td>
			</tr>
		<!--{/loop}-->
		</tbody>
	</table>
	<div class="page">$multi</div>
</div>
<!--{else}-->
<div class="c_form">还没有话题列表。</div>
<!--{/if}-->


<!--{if $rlist}-->
	<div style="padding-bottom:10px;">
		<h3 class="l_status">
			<div class="r_option"><a href="space.php?do=mtag&view=hot">查看更多</a></div>
			热门群组
		</h3>
		<ul class="thread_list">
		<!--{loop $rlist $value}-->
			<li>
			<table width="100%">
				<tr>
				<td width="80">
					<div class="threadimg60"><a href="space.php?do=mtag&tagid=$value[tagid]"><img src="$value[pic]" style="width:60px;"></a></div>
				</td>
				<td>
					<a href="space.php?do=mtag&tagid=$value[tagid]" style="font-weight:bold;">$value[tagname]</a>
					<div class="gray">$value[title]</div>
					已有 <span class="num">$value[membernum]</span> 人加入
					<div class="gray">
						话题: $value[threadnum], 回帖: $value[postnum]
					</div>
				</td>
				</tr></table>
			</li>
		<!--{/loop}-->
		</ul>
	</div>
<!--{/if}-->

<!--{/if}-->

<!--{template footer}-->
