<!--{eval $_TPL['titles'] = array('群组');}-->
<!--{template header}-->
<div class="searchbar floatright">
<form method="get" action="space.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="搜索群组" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="mtag" />
	<input type="hidden" name="view" value="hot" />
</form>
</div>
<h2 class="title"><img src="image/app/mtag.gif">群组</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=thread"><span>群组话题</span></a></li>
		<li$actives[me]><a href="space.php?do=mtag&view=me"><span>我参与的群组</span></a></li>
		<li$actives[manage]><a href="space.php?do=mtag&view=manage"><span>我管理的群组</span></a></li>
		<li$actives[hot]><a href="space.php?do=mtag&view=hot"><span>热门群组</span></a></li>
		<li$actives[recommend]><a href="space.php?do=mtag&view=recommend"><span>推荐群组</span></a></li>
		<li class="null"><a href="cp.php?ac=thread">发起新话题</a></li>
		<li class="null"><a href="cp.php?ac=mtag">创建群组</a></li>
	</ul>
</div>

<div class="h_status">
	排序方式：
	<a href="space.php?do=mtag&view=$_GET[view]&fieldid=$_GET[fieldid]&orderby=threadnum"$orderbyarr[threadnum]>话题数排行</a><span class="pipe">|</span>
	<a href="space.php?do=mtag&view=$_GET[view]&fieldid=$_GET[fieldid]&orderby=postnum"$orderbyarr[postnum]>回帖数排行</a><span class="pipe">|</span>
	<a href="space.php?do=mtag&view=$_GET[view]&fieldid=$_GET[fieldid]&orderby=membernum"$orderbyarr[membernum]>成员数排行</a>
</div>

<!--{if $searchkey}-->
<div class="h_status">以下是搜索群组 <span style="color:red;font-weight:bold;">$searchkey</span> 结果列表</div>
<!--{/if}-->
	
<div id="content">

<!--{if $rlist}-->
	<div>
		<h3 class="l_status">
			<div class="r_option"><a href="space.php?do=mtag&view=recommend">更多推荐</a></div>
			群组推荐
		</h3>
		<table cellspacing="5" cellpadding="5"><tr>
		<!--{loop $rlist $key $value}-->
			<td width="80">
				<div class="threadimg60"><a href="space.php?do=mtag&tagid=$value[tagid]"><img src="$value[pic]" style="width:60px;"></a></div>
			</td>
			<td width="200">
				<a href="space.php?do=mtag&tagid=$value[tagid]" style="font-weight:bold;">$value[tagname]</a>
				<div class="gray">$value[title]</div>
				已有 <span class="num">$value[membernum]</span> 人加入
				<div class="gray">
					话题: $value[threadnum], 回帖: $value[postnum]
				</div>
			</td>
		<!--{if $key%2==1}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
		</tr></table>
	</div>
<!--{/if}-->

<!--{if $list}-->

	<div>
		<!--{if $rlist}-->
		<h3 class="l_status">
			我的群组
		</h3>
		<!--{/if}-->
		<table cellspacing="5" cellpadding="5"><tr>
		<!--{loop $list $key $value}-->
			<td width="80">
				<div class="threadimg60"><a href="space.php?do=mtag&tagid=$value[tagid]"><img src="$value[pic]" style="width:60px;"></a></div>
			</td>
			<td width="200">
				<a href="space.php?do=mtag&tagid=$value[tagid]" style="font-weight:bold;">$value[tagname]</a>
				<div class="gray">$value[title]</div>
				已有 <span class="num">$value[membernum]</span> 人加入
				<div class="gray">
					话题: $value[threadnum], 回帖: $value[postnum]
				</div>
			</td>
		<!--{if $key%2==1}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
		</tr></table>
	</div>
	
	<div class="page">$multi</div>

<!--{else}-->
	<div class="c_form">还没有群组。</div>
<!--{/if}-->

</div>

<div id="sidebar">

	<div class="sidebox">
	<h2 class="title">群组分类</h2>
	<ul class="post_list line_list">
		<li$pro_actives[all]><a href="space.php?do=mtag&view=$_GET[view]&orderby=$_GET[orderby]">全部</a>
		<!--{loop $_SGLOBAL['profield'] $value}-->
		<li{$pro_actives[$value[fieldid]]}><a href="space.php?do=mtag&view=$_GET[view]&fieldid=$value[fieldid]&orderby=$_GET[orderby]">$value[title]</a></li>
		<!--{/loop}-->
	</ul>
	</div>
	
	
	<!--{if $threadlist}-->
	<div class="sidebox">
	<h2 class="title">这些群组的话题更新</h2>
	<ul class="line_list">
		<!--{loop $threadlist $key $value}-->
			<li>
				<a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a>
				<!--{if $value[hot]}-->
				<br><span class="gray">$value[hot] 人推荐</span>
				<!--{/if}-->
			</li>
		<!--{/loop}-->
	</ul>
	</div>
	<!--{/if}-->

</div>

<!--/sidebar-->
<!--{template footer}-->
