<div class="c_header a_header">
	<div class="avatar48"><a href="space.php?uid=$space[uid]"><!--{avatar($space[uid],small)}--></a></div>
	<!--{if $_SGLOBAL[refer]}-->
		<a class="r_option" href="$_SGLOBAL[refer]">&laquo; 返回上一页</a>
	<!--{/if}-->
	<p style="font-size:14px">{$_SN[$space[uid]]}的$_TPL['spacetitle']</p>
	<a href="space.php?uid=$space[uid]" class="spacelink">{$_SN[$space[uid]]}的主页</a>
	<!--{if $_TPL['spacemenus']}-->
		<!--{loop $_TPL['spacemenus'] $value}--> <span class="pipe">&raquo;</span> $value<!--{/loop}-->
	<!--{/if}-->
</div>
