
<div class="digc">
	<table>
		<tr>
		<!--{eval $clicknum = 0;}-->
		<!--{loop $clicks $value}-->
		<!--{eval $clicknum = $clicknum + $value['clicknum'];}-->
		<!--{eval $value['height'] = $maxclicknum?intval($value['clicknum']*50/$maxclicknum):0;}-->
			<td valign="bottom"><a href="cp.php?ac=click&op=add&clickid=$value[clickid]&idtype=$idtype&id=$id&hash=$hash" id="click_{$idtype}_{$id}_{$value[clickid]}" onclick="ajaxmenu(event, this.id, 0, 2000, 'show_click')"><!--{if $value[clicknum]}--><div class="digcolumn"><div class="digchart dc{$value[classid]}" style="height:{$value[height]}px;"><em>{$value[clicknum]}</em></div></div><!--{/if}--><div class="digface"><img src="image/click/$value[icon]" alt="" /><br />$value[name]</div></a></td>
		<!--{/loop}-->
		</tr>
	</table>
</div>

<!--{if $clickuserlist}-->
<div class="trace" style="padding-bottom: 10px;">

	<div>
		<h2>
			刚表态过的朋友 (<a href="javascript:;" onclick="show_click('click_{$idtype}_{$id}_{$value[clickid]}')">$clicknum 人</a>)
			<!--{if $_SGLOBAL[magic][anonymous]}-->
			<img src="image/magic/anonymous.small.gif" class="magicicon" />
			<a id="a_magic_anonymous" href="magic.php?mid=anonymous&idtype=$idtype&id=$id" onclick="ajaxmenu(event,this.id, 1)" class="gray">{$_SGLOBAL[magic][anonymous]}</a>
			<!--{/if}-->					
		</h2>
	</div>
	<div id="trace_div">
		<ul class="avatar_list" id="trace_ul">
		<!--{loop $clickuserlist $value}-->
		<li>
			<!--{if $value[username]}-->
			<div class="avatar48"><a href="space.php?uid=$value[uid]" target="_blank" title="$value[clickname]"><!--{avatar($value[uid], 'small')}--></a></div>
			<p><a href="space.php?uid=$value[uid]"  title="$_SN[$value[uid]]" target="_blank">{$_SN[$value[uid]]}</a></p>
			<!--{else}-->
			<div class="avatar48"><img src="image/magic/hidden.gif" alt="$value[clickname]" class="avatar" /></div>
			<p>匿名</p>
			<!--{/if}-->
		</li>
		<!--{/loop}-->
		</ul>
	</div>
</div>
<!--{/if}-->

<!--{if $click_multi}--><div class="page">$click_multi</div><!--{/if}-->
