<!--{template header}-->
<!--{eval 
	//是否好友
	$space['isfriend'] = $space['self'];
	if(in_array($_SGLOBAL['supe_uid'], $space['friends'])) {
		$space['isfriend'] = 1;//是好友
	}
}-->

<div class="c_form">

<h2 class="l_status title">
	<!--{if $_SGLOBAL['realname_privacy']}-->
		{$_SN[$space[uid]]} 为实名认证用户，你需要通过实名认证后才能继续访问
	<!--{else}-->
		由于 {$_SN[$space[uid]]} 的隐私设置，你不能访问当前内容
	<!--{/if}-->
</h2>

<div class="thumb_list">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td class="image">
				<div class="ar_r_t"><div class="ar_l_t"><div class="ar_r_b"><div class="ar_l_b">
				<a href="space.php?uid=$space[uid]"><!--{avatar($space[uid],big)}--></a>
				</div></div></div></div>
			</td>
			<td>
				<h6><a href="space.php?uid=$space[uid]">{$_SN[$space[uid]]}</a></h6>
				<p class="l_status">
					<a href="space.php?uid=$space[uid]&do=friend">查看好友列表</a>
					<!--{if $space['isfriend']}-->
					<span class="pipe">|</span><a href="cp.php?ac=friend&op=ignore&uid=$space[uid]" id="a_ignore" onclick="ajaxmenu(event, this.id)">解除好友关系</a>
					<!--{else}-->
					<span class="pipe">|</span><a href="cp.php?ac=friend&op=add&uid=$space[uid]" id="a_friend" onclick="ajaxmenu(event, this.id, 1)">加为好友</a>
					<!--{/if}-->
					<span class="pipe">|</span><a href="cp.php?ac=poke&op=send&uid=$space[uid]" id="a_poke" onclick="ajaxmenu(event, this.id, 1)">打招呼</a>
					<span class="pipe">|</span><a href="cp.php?ac=pm&uid=$space[uid]" id="a_pm" onclick="ajaxmenu(event, this.id, 1)">发短消息</a>
					<span class="pipe">|</span><a href="cp.php?ac=common&op=report&idtype=uid&id=$space[uid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">违规举报</a>
					<!--{if checkperm('managename')||checkperm('managespacegroup')||checkperm('managespaceinfo')||checkperm('managespacecredit')||checkperm('managespacenote')}-->
					<span class="pipe">|</span><a id="a_manage" href="admincp.php?ac=space&op=manage&uid=$space[uid]">管理用户</a>
					<!--{/if}-->
				</p>
				<!--{if $space[note]}-->
				<p>$space[note]</p>
				<!--{/if}-->
				<!--{if $space[resideprovince] || $space[residecity]}-->
				<p><span class="gray">地区：</span>$space[resideprovince] $space[residecity]</p>
				<!--{/if}-->
				
				<!--{if !$space['isfriend']}-->
				<p style="padding:20px 0 0 0;font-weight:bold;">{$_SN[$space[uid]]} 有 $space[friendnum] 名好友, $space[credit] 个积分, $space[viewnum] 个浏览量</p>
				<p>与{$_SN[$space[uid]]}成为好友后，您可以第一时间关注到{$_SN[$space[uid]]}的更新信息。</p>
				<p style="padding:10px 0 0 0;"><a href="cp.php?ac=friend&op=add&uid=$space[uid]" id="a_friend" onclick="ajaxmenu(event, this.id, 1)" class="submit">加为好友</a></p>
				<!--{/if}-->
			</td>
		</tr>
	</table>
</div>

</div>

<!--{template footer}-->
