
<form method="post" id="doingform" action="cp.php?ac=doing&view=$_GET[view]" class="post_doing">
<div class="r_option">还可输入 <strong id="maxlimit">200</strong> 个字符</div>
<a href="###" id="doingface" onclick="showFace(this.id, 'message');return false;"><img src="image/facelist.gif" align="absmiddle" /></a></td>
<!--{if checkperm('seccode')}-->
	<!--{if $_SCONFIG['questionmode']}-->
	回答提问：<!--{eval question();}--> 
	<!--{else}-->
	输入验证码：<script>seccode();</script> 
	<!--{/if}-->
	<input type="text" id="seccode" name="seccode" value="" size="10" class="t_input">
<!--{/if}-->
<br>
<textarea id="message" name="message" onkeyup="textCounter(this, 'maxlimit', 200)" onkeydown="ctrlEnter(event, 'add');" rows="4" style="width:438px; height: 72px;"></textarea>
<input type="hidden" name="addsubmit" value="true" />
<button type="submit" id="add" name="add" class="post_button">发布</button>
<input type="hidden" name="refer" value="$theurl" />
<input type="hidden" name="topicid" value="$topicid" />
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
