.webim input[type=text], .webim input[type=password] {
        padding:.3em;
}

.webim input[type=submit], .webim input[type=button]{
        padding:.3em .6em;
}

.webim p{
        margin:1em;
}

#wrapper{
}
#welcome{
}

#login-panel{
        width:20em;
        margin:3em auto;
        font-size:1.1em;
}

body,html,.webim{
        background:transparent;
        overflow: hidden;
        height: 100%;
        width: 100%;
}
.webim-air {

}
.webim-air .webim-ui{
}

/*
 * 
 */
.webim-shortcut{
}
.webim-apps{
	position:relative;
}

.webim-panels{
	display: none;
}
/*
 * webim tabs
 */
.webim-tabs{
}
.webim-tabs .webim-tabs-nav{
        padding:0.2em 0.2em 0;
        position:relative;
        background:none;
        border-right-width:0;
        border-top-width:0;
        border-left-width:0;
}
.webim-tabs .webim-tabs-content{
        overflow-x: hidden;
        overflow-y: auto;
}
.webim-tabs .webim-tabs-nav li{
        border-bottom-width:0 !important;
        float:left;
        margin:0 0.2em -1px 0;
        padding:0;
        position:relative;
}
.webim-tabs .webim-tabs-nav li.webim-tabs-selected{
        padding-bottom: 1px;
}
.webim-tabs .webim-tabs-nav li a {
        float:left;
        padding:0.4em 1em .2em;
        text-decoration:none;
}
.webim-tabs .webim-tabs-hide{
        display:none;
}

/*
 * webim resize
 */
.webim-resizable{
        position: relative;
}
.webim-resizable-handle{
        position: absolute;
        z-index:1000;
        width:;
}
.webim-resizable-e{
        cursor:e-resize;
        height:100%;
        right:-3px;
        top:0;
        width:6px;
}
.webim-resizable-s{
        bottom:-3px;
        cursor:s-resize;
        height:6px;
        left:0;
        width:100%;
}
.webim-resizable-se{
        right: 1px;
        bottom: 1px;
        cursor: se-resize;
}
/*
 * webim window
 */
.webim-air .webim-window{
        position: relative;
        height:100%;
}
.webim-air .webim-window-tab {
        display: none;
} 
.webim-air .webim-window-content {
        height: 90%;
}

.webim-air .webim-window-header {
    cursor: pointer;
    text-align: center;
    padding: .2em .5em;
}

.webim-air .webim-window-actions{
	float: right;
}
.webim-air .webim-window-actions a{
        float:left;
        margin: 0 .1em;
}
.webim-air .webim-window-header h4{
	margin: 0;
	font-weight:normal;
}

.webim-air  .webim-titletip {
    background: transparent url(../images/dark_pointer.gif) no-repeat scroll right bottom;
    bottom: 27px;
    display: none;
    padding-bottom: 4px;
    position: absolute;
    right: 12px;
    z-index: 3;
}
.webim-air  .webim-count {
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    padding-top: 1px;
    position: absolute;
    right: 0px;
    top: -2px;
    text-align: center;
    overflow: hidden;
    line-height: 1.2;
    display: none;
}
.webim-air .webim-titletip strong {
    background: #282828;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    margin: 0 -5px 0 0;
    padding: 3px 8px;
    text-align: center;
    white-space: nowrap;
}

