.webim-emot{
        display: none;
}
.webim-emot-show{
        display: block;
}
.webim-emot ul{
        padding: .2em;
        list-style:none;
}
.webim-emot ul li{
        float: left;
        cursor: pointer;
}
.webim-chat .webim-emot{
        position: absolute;
        bottom: 0;
        border-left-width: 0;
        border-right-width: 0;
        width: 100%;
}
