.webim-icon{
	background-image:url(../images/icons/icon16.gif);
}
.webim-icon-home{
	background-position:0 0;

 }
 .webim-icon-buddy{
	 background-position:-16px 0;

 }
 .webim-icon-notification{
	 background-position:-32px 0;

 }
 .webim-icon-setting{
	 background-position:-48px 0;
 }
 .webim-icon-chat{
	 background-position:0 -16px;

 }
 .webim-icon-clear{
	 background-position:-16px -16px;

 }
 .webim-icon-emot{
	 background-position:-32px -16px;

 }
 .webim-icon-unblock{
	 background-position:0 -32px;

 }
 .webim-icon-block{
	 background-position:-16px -32px;

 }
 .webim-icon-hotpost{
	 background-image:url(../images/icons/hotpost.jpg);
 }
