/*
 * widget setting
 */
#webim-setting{
        padding: 1em 0;
        width:20em;

}
#webim-setting ul{
	list-style: none;
}
#webim-setting ul li{
        margin: .5em 1em;
}
#webim-setting ul li input{
        vertical-align: middle;
}

#webim-setting ul li label{
        padding-left: .2em;
}
.webim-setting-offline{
  float:right;
  position:absolute;
  bottom:.5em;
  left:16em;
}
.webim-setting-online{
  auto:left;
  float:right;
  position:absolute;
  bottom:.5em;
  left:16em;
}
