/*theme extend*/

.ui-widget{
        font-size: 1.2em !important;
}
.ui-toolbar{ 
	opacity:0.75;
	filter:alpha(opacity=75);
	/*
        border: 1px solid #b5b5b5;
        background:#eee url(../images/bar_bg.gif) repeat-x scroll left top; color: #333; 
	*/
}

.webim-layout .webim-window-tab-wrap .ui-state-default{
	background: none;
}
.ui-widget-subheader { 
        border: 1px solid #ccc; 
        background:#eee; color: gray; 
}
/*
 * layout
 */

/*
 * ie z-index bgiframe http://hi.baidu.com/pcbbt/blog/item/47405e2259148df9d7cae25c.html
 */
.webim-bgiframe{
	position:absolute;
	width: 100%;
	height: 100%;
	z-index:-1;
	opacity:0;
	filter:alpha(opacity=0);
}

.webim-layout{
        position: fixed;
        bottom: 0;
        right: 1.5em;
        z-index: 50000;
        left: 1.5em;
}
.webim-layout-minimize{
        left: auto;
}
.webim-layout .webim-bgiframe{
	height: 2.7em;
	top: -1px;
	left: -1px;
	width: 100%;
}
/*ie6*/
* html .webim-layout .webim-bgiframe{
	width: expression(this.parentNode.offsetWidth+'px');
}
.webim-layout-bg{
	position:absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 2.7em;
	z-index:-1;
        border-bottom-width:0;
}
* html .webim-layout-bg{
	width: expression(this.parentNode.offsetWidth+'px');
}

/*
 * 
 */
.webim-shortcut{
        float:left;
        position:relative;
}
.webim-layout-r{
		float: right;
}
.webim-apps{
        float:left;
        position:relative;
}

.webim-panels{
        float:left;
}

/*
 * window
 */
.webim-layout .webim-window{
        float:left;
}
.webim-layout .webim-window .webim-bgiframe{
	top: 0px;
	left: 0px;
	width:100%;
	height: 100%;
}
/*ie6*/
* html .webim-layout .webim-window .webim-bgiframe{
	height: expression(this.parentNode.offsetHeight+'px');
}

.webim-layout .webim-window-tab {
        z-index: 6;
        float:left;
        cursor: pointer;
        height: 2.2em;
        display: block;
        position: relative;
        border-width: 0;
        padding-left:1px;
        text-decoration:none;
        border-left-width: 1px;
} 
.webim-layout .webim-window-tab-wrap{
        float: left;
}
.webim-layout .webim-window-tab .webim-icon{
        float: left;
        display:inline;
        margin: .4em .5em .2em;
        *margin: .3em .5em .3em;
}
.webim-layout .webim-window-tab h4{
        float: left;
        font-weight: normal;
        margin: .3em 2em .3em .3em;
        display:inline;
}
.webim-layout .webim-window-tab .webim-window-close{
		right:.3em;
		top: .4em;
		position:absolute;
}
.webim-layout .webim-window-window {
        position: absolute;
        bottom: 2.20em;
        z-index: 5;
        right: 0;
        width: 20em;
}

.webim-layout .webim-window-content {
        border-top-width: 0;
}

.webim-layout .webim-window-header {
        cursor: pointer;
        text-align: center;
        padding: .2em .5em;
}

.webim-layout .webim-window-actions{
        float: right;
}
.webim-layout .webim-window-actions a{
        float:left;
        margin: 0 .1em;
}
.webim-layout .webim-window-header h4{
        margin: 0;
        font-weight:normal;
        background:url(about:blank);/*events http://ued.koubei.com/?p=394*/
}
/*window state */
.webim-layout .webim-window-minimize .webim-window-window{
        /*visibility: hidden;*/
        display: none;
}
.webim-layout .webim-shortcut .webim-window-tab{
        border-left-width:0;
        border-right-width:1px;
}
.webim-layout .webim-shortcut .webim-window-window{
        right:auto;
        left: 0;
        width: 12em;
}
.webim-layout .webim-window-normal .webim-window-tab, .webim-layout .webim-window-maximize .webim-window-tab{
        margin-top: -1px;
        padding-left:0;
        border-width: 1px;
        border-top-width:0;
}
.webim-layout .webim-window-normal .webim-window-tab-inner, .webim-layout .webim-window-maximize .webim-window-tab-inner{
        border-top:1px solid #eee;
}
.webim-layout .webim-apps .webim-window-window {
        width: 22.4em;
}


.webim-layout .webim-buddy-window .webim-window-tab{
        width: 10em;
}
.webim-layout .webim-buddy-window .webim-window-tab h4{
		margin-right: 0;
}

.webim-layout  .webim-window-tab-count {
        font-size: 10px;
        font-weight: bold;
        height: 17px;
        width: 22px;
        padding-top: 2px;
        position: absolute;
        right: 0px;
        top: -16px;
        text-align: center;
        overflow: hidden;
        line-height: 1.2;
        display:none;
        color:#fff;
        background: url(../images/count_bg.gif) no-repeat;
}

.webim-layout  .webim-window-tab-tip {
        background: transparent url(../images/dark_pointer.gif) no-repeat scroll right bottom;
        bottom: 2.1em;/*< 2.2 in fiefox 2*/
        display: none;
        padding-bottom: .34em;
        position: absolute;
        right: 1.2em;
        z-index: 3;
}

.webim-layout .webim-window-tab-tip strong {
        background: #282828;
        color: #FFFFFF;
        display: block;
        font-weight: normal;
        margin: 0 -.5em 0 0;
        padding: .3em .8em;
        text-align: center;
        white-space: nowrap;
        float: left;
        position: relative;
}
.webim-layout .webim-window-tab-wrap .ui-state-hover .webim-window-tab-tip {
		display: block;
}
.webim-layout .webim-window-tab-wrap .ui-state-active .webim-window-tab-tip {
		display: none;
}
.webim-layout .webim-shortcut .webim-window-tab-tip{
		background-position: left bottom;
		right: auto;
		left: .8em;
}
.webim-layout .webim-shortcut .webim-window-tab-tip strong{
		margin: 0 0 0 -.5em;
}
/*window end*/
/**/
.webim-layout .webim-shortcut-item .ui-state-hover{
		border-width: 0;
}
/*panels*/

.webim-layout .webim-panels .webim-window{
        position: relative;
}

/*ie6: need clear css expression when remove the window.*/
* html .webim-layout .webim-panels .webim-window .webim-bgiframe{
	height: 27em;
}
.webim-layout .webim-panels-tab-wrap{
        float:left;
}
.webim-layout .webim-panels-tab{
        float:left;
}
.webim-layout .webim-panels-prev, .webim-layout .webim-panels-next{
        display: none;
}
.webim-layout .webim-panels-prev .ui-icon, .webim-layout .webim-panels-next .ui-icon{
        float:left;
        margin: .4em 0 .2em;
}
.webim-layout .webim-panels-next span{
        float:left;
        font-weight: normal;
        margin: .4em .3em .2em 0;
}
.webim-layout .webim-panels-prev span{
        float:left;
        font-weight: normal;
        margin: .4em -.3em .2em .2em;
}
.webim-layout .webim-panels-next .ui-icon{
        width: 13px;
}

/* collapse expand */

.webim-layout .webim-collapse .ui-icon, .webim-layout .webim-expand .ui-icon{
        margin-top: .4em;
}
.webim-layout .webim-expand-wrap{
        display: none;
}
.webim-layout-minimize .webim-expand-wrap{
        display: block;
}
.webim-layout-minimize .webim-collapse-wrap{
        display: none;
}
/*****ie 6 *********/
*  html{
	background:url(blank) fixed; /*To prevent the jitter.*/
}
* html  .webim-layout{
	position: absolute; 
	bottom: auto;
	right: 1.5em;
    left: 1.5em;/*ie6 1px bug. http://www.pmob.co.uk/temp/onepxgap.htm */
	top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop + (document.body.clientHeight-this.clientHeight));
}
* html  .webim-layout .webim-apps .webim-window-window {
}
* html  .webim-layout-minimize{
        left: auto;
}
* html  .webim-layout-minimize .webim-ui{
	display:inline;
}
* html  .webim-layout-minimize .webim-layout-r{
	float: left;
}
* html .webim-layout-minimize .webim-shortcut{
	float:auto;
	width:auto;
	left:auto;
}
/* end */
.webim-state-stop{
        left:auto;
        right:0;
}
.webim-state-stop .webim-apps{
        right:0;
}
.webim-state-stop .webim-pannels{
}

