.section pre {margin-left: 2em;}

pre.tester {
    min-height: 10em;
    padding-left: 1em;
    border-left: 4px solid #eee;
}
pre.tester.tester-testing {border-color: #0f0;}
pre.tester.tester-paused {border-color: #ff0;}
pre.tester.tester-finished {border-color: #00f;}

table.tester {
    margin: 0;
    border: 1px solid #ccc;
}
table.tester.sortable {width: auto;}

table.tester caption {
    text-align: left;
    font-weight: bold;
    padding: 1em 0 .2em 0;
}

table.tester thead th {
    padding: .2em 1em;
    margin: 1px 4px;
    text-align: left;
    border: 1px solid #ccc;
}
table.tester tbody tr td {
    text-align: right;
    padding: .2em 1em;
}
table.tester tbody tr td.name {text-align: left;}
table.tester tbody tr.odd {background-color: #f6f6f6;}
table.tester tbody tr.testing {background-color: #f0f0ff;}
table.tester tbody tr.testing td {font-weight: bold;}
table.tester tbody tr.testing {background-color: #fff0f0;}
table.tester tbody tr.paused  td {color: #930;}
table.tester tbody tr td.warning {color: #939;}
table.tester tbody tr td.error {color: #f00;}


