<!--{template header}-->

<!--{if $_GET['op'] == 'getcomment'}-->

	<div class="fc">

	<div class="comments_list">
		<ul id="comment_ol_$feedid">
		<!--{loop $list $value}-->
			<!--{template space_comment_li}-->
		<!--{/loop}-->
		</ul>
	</div>
	<!--{if $multi}--><div class="page">$multi</div><!--{/if}-->

	<form id="feedform_{$feedid}" method="post" action="cp.php?ac=feed&feedid=$feedid" style="padding:0.5em;">
		<a href="###" id="face_{$feedid}" title="插入表情" onclick="showFace(this.id, 'feedmessage_{$feedid}');return false;"><img src="image/facelist.gif" align="absmiddle" /></a>
		<span id="note_{$feedid}"></span><br>
		<textarea id="feedmessage_{$feedid}" name="message" rows="2" style="width:100%;"></textarea><br>
		<input type="hidden" name="commentsubmit" value="true" />
		<input type="button" name="feedbutton" class="submit" onclick="ajaxpost('feedform_{$feedid}', 'feedcomment_add')" value="评论">
		<span id="__feedform_{$feedid}"></span>
		<input type="hidden" name="refer" value="space.php?do=hot&id=$feedid">
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
	</div>

<!--{elseif $_GET['op'] == 'getfeed'}-->


	<div class="feed">
		<div id="feed_div">
			<ul>
			<!--{eval $_TPL['hidden_menu']=1;$_TPL['hidden_hot']=1;$_TPL['hidden_time']=1;$_TPL['hidden_more']=1;}-->
			<!--{loop $feedlist $value}-->
				<!--{eval $value=mkfeed($value);}-->
				<!--{template space_feed_li}-->
			<!--{/loop}-->
			</ul>
		</div>
	</div>
	<!--{if $feed_multi}--><div class="page">$feed_multi</div><!--{/if}-->
	
<!--{elseif $_GET['op'] == 'menu'}-->

	<!--{if $feed[uid]==$_SGLOBAL[supe_uid]}-->
	
	<h1>删除动态</h1>
	<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
	<div class="popupmenu_inner" id="__feedform_{$feedid}">
		<form method="post" id="feedform_{$feedid}" name="feedform_{$feedid}" action="cp.php?ac=feed&op=delete&feedid=$feedid">
		<p>确定删除该动态吗？</p>
		<p class="btn_line">
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
			<!--{if $_SGLOBAL[inajax]}-->
			<input type="hidden" name="feedsubmit" value="true" />
			<button name="feedsubmit_btn" type="button" class="submit" value="true" onclick="ajaxpost('feedform_{$feedid}', 'feed_delete', 2000)">确定</button>
			<!--{else}-->
			<button name="feedsubmit" type="submit" class="submit" value="true">确定</button>
			<!--{/if}-->
			<!--{if checkperm('managefeed')}-->
			<a href="admincp.php?ac=feed&op=edit&feedid=$feedid" target="_blank">编辑</a>
			<!--{/if}-->
		</p>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
	<!--{else}-->
	
	<h1>屏蔽动态</h1>
	<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
	<div class="popupmenu_inner" id="__feedform_{$feedid}">
		<form method="post" id="feedform_{$feedid}" name="feedform_{$feedid}" action="cp.php?ac=feed&op=ignore&icon=$feed[icon]">
		<p>在下次浏览时不再显示此类动态</p>
		<p class="btn_line">
			<input type="radio" name="uid" id="uid1" value="$feed[uid]" checked> <label for="uid1">仅屏蔽该好友的</label>
			<br>
			<input type="radio" name="uid" id="uid0" value="0"> <label for="uid0">屏蔽所有好友的</label>
			<br><br>
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
			<!--{if $_SGLOBAL[inajax]}-->
			<input type="hidden" name="feedignoresubmit" value="true" />
			<button name="feedignoresubmit_btn" type="button" class="submit" value="true" onclick="ajaxpost('feedform_{$feedid}','',2000)">确定</button>
			<!--{else}-->
			<button name="feedignoresubmit" type="submit" class="submit" value="true">确定</button>
			<!--{/if}-->
			<!--{if checkperm('managefeed')}-->
			<a href="admincp.php?ac=feed&op=edit&feedid=$feedid" target="_blank">编辑</a>
			<!--{/if}-->
		</p>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
	<!--{/if}-->

<!--{/if}-->

<!--{template footer}-->