<h2 class="title"><img src="image/icon/profile.gif">个人设置</h2>
<div class="tabs_header">
	<a href="cp.php?ac=advance" class="r_option">&raquo; 高级管理</a>
	<ul class="tabs">
		<li$actives[profile]><a href="cp.php?ac=profile"><span>个人资料</span></a></li>
		<li$actives[avatar]><a href="cp.php?ac=avatar"><span>我的头像</span></a></li>
		<!--{if $_SCONFIG['videophoto']}-->
		<li$actives[videophoto]><a href="cp.php?ac=videophoto"><span>视频认证</span></a></li>
		<!--{/if}-->
		<li$actives[credit]><a href="cp.php?ac=credit"><span>我的积分</span></a></li>
		<!--{if $_SCONFIG['allowdomain'] && $_SCONFIG['domainroot'] && checkperm('domainlength')}-->
		<li$actives[domain]><a href="cp.php?ac=domain"><span>我的域名</span></a></li>
		<!--{/if}-->
		<!--{if $_SCONFIG[sendmailday]}-->
		<li$actives[sendmail]><a href="cp.php?ac=sendmail"><span>邮件提醒</span></a></li>
		<!--{/if}-->
		<li$actives[privacy]><a href="cp.php?ac=privacy"><span>隐私筛选</span></a></li>
		<li$actives[theme]><a href="cp.php?ac=theme"><span>个性化设置</span></a></li>
	</ul>
</div>