<!--{template header}-->
<!--{template cp_header}-->

<div class="l_status c_form">
	<a href="cp.php?ac=privacy"$cat_actives[base]>隐私设置</a><span class="pipe">|</span>
	<a href="cp.php?ac=privacy&op=view"$cat_actives[view]>动态筛选</a>
</div>


<form method="post" action="cp.php?ac=privacy" class="c_form">

<!--{if empty($_GET['op'])}-->
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>个人隐私设置</h2>
			<p>你可以完全控制哪些人可以看到你的主页上面的内容</p>
		</caption>
		<tr>
			<th width="150">个人主页</th>
			<td><select name="privacy[view][index]">
				<option value="0"$sels[view][index][0]>全站用户可见</option>
				<option value="1"$sels[view][index][1]>仅好友可见</option>
				<option value="2"$sels[view][index][2]>仅自己可见</option>
				</select></td>
		</tr>
		<tr>
			<th>好友列表</th>
			<td><select name="privacy[view][friend]">
				<option value="0"$sels[view][friend][0]>全站用户可见</option>
				<option value="1"$sels[view][friend][1]>仅好友可见</option>
				<option value="2"$sels[view][friend][2]>仅自己可见</option>
				</select></td>
		</tr>
		<tr>
			<th>留言板</th>
			<td><select name="privacy[view][wall]">
				<option value="0"$sels[view][wall][0]>全站用户可见</option>
				<option value="1"$sels[view][wall][1]>仅好友可见</option>
				<option value="2"$sels[view][wall][2]>仅自己可见</option>
				</select></td>
		</tr>
		<tr>
			<th>个人动态</th>
			<td><select name="privacy[view][feed]">
				<option value="0"$sels[view][feed][0]>全站用户可见</option>
				<option value="1"$sels[view][feed][1]>仅好友可见</option>
				</select></td>
		</tr>
		<tr>
			<th>记录</th>
			<td><select name="privacy[view][doing]">
				<option value="0"$sels[view][doing][0]>全站用户可见</option>
				<option value="1"$sels[view][doing][1]>仅好友可见</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">
				本隐私设置仅在其他用户查看您主页时有效；
				<br>在全站的记录列表中可能会出现您的记录。
			</td>
		</tr>
		<tr>
			<th>日志</th>
			<td><select name="privacy[view][blog]">
				<option value="0"$sels[view][blog][0]>全站用户可见</option>
				<option value="1"$sels[view][blog][1]>仅好友可见</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">本隐私设置仅在其他用户查看您主页时有效；
				<br>相关浏览权限需要在每篇日志中单独设置方可完全生效。
				</td>
		</tr>
		<tr>
			<th>相册</th>
			<td><select name="privacy[view][album]">
				<option value="0"$sels[view][album][0]>全站用户可见</option>
				<option value="1"$sels[view][album][1]>仅好友可见</option>
				</select>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">本隐私设置仅在其他用户查看您主页时有效；
				<br>相关浏览权限需要在每个相册中单独设置方可完全生效。</td>
		</tr>
		<tr>
			<th>分享</th>
			<td><select name="privacy[view][share]">
				<option value="0"$sels[view][share][0]>全站用户可见</option>
				<option value="1"$sels[view][share][1]>仅好友可见</option>
				</select></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">
				本隐私设置仅在其他用户查看您主页时有效；
				<br>在全站的分享列表中可能会出现您的分享。
			</td>
		</tr>
		<tr>
			<th>活动</th>
			<td><select name="privacy[view][event]">
				<option value="0"$sels[view][event][0]>全站用户可见</option>
				<option value="1"$sels[view][event][1]>仅好友可见</option>
				</select></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">
				本隐私设置仅在其他用户查看您主页时有效；
			</td>
		</tr>
		<tr>
			<th>投票</th>
			<td><select name="privacy[view][poll]">
				<option value="0"$sels[view][poll][0]>全站用户可见</option>
				<option value="1"$sels[view][poll][1]>仅好友可见</option>
				</select></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">
				本隐私设置仅在其他用户查看您主页时有效；
			</td>
		</tr>
		<tr>
			<th>群组</th>
			<td><select name="privacy[view][mtag]">
				<option value="0"$sels[view][mtag][0]>全站用户可见</option>
				<option value="1"$sels[view][mtag][1]>仅好友可见</option>
				<option value="2"$sels[view][mtag][2]>仅自己可见</option>
				</select></td>
		</tr>
		<!--{if $_SCONFIG[videophoto] && $space[videostatus]}-->
		<tr>
			<th></th>
			<td><img src="image/videophoto.gif" align="absmiddle"> 你已经通过视频认证，对于没有通过视频认证的用户，你可以设置以下权限：</td>
		</tr>
		<tr>
			<th>查看我的认证照片</th>
			<td><select name="privacy[view][videoviewphoto]">
				<option value="0"$sels[view][videoviewphoto][0]>站点默认设置</option>
				<option value="1"$sels[view][videoviewphoto][1]>允许</option>
				<option value="2"$sels[view][videoviewphoto][2]>禁止</option>
				</select></td>
		</tr>
		<tr>
			<th>向我申请好友</th>
			<td><select name="privacy[view][videofriend]">
				<option value="0"$sels[view][videofriend][0]>站点默认设置</option>
				<option value="1"$sels[view][videofriend][1]>允许</option>
				<option value="2"$sels[view][videofriend][2]>禁止</option>
				</select></td>
		</tr>
		<tr>
			<th>向我打招呼</th>
			<td><select name="privacy[view][videopoke]">
				<option value="0"$sels[view][videopoke][0]>站点默认设置</option>
				<option value="1"$sels[view][videopoke][1]>允许</option>
				<option value="2"$sels[view][videopoke][2]>禁止</option>
				</select></td>
		</tr>
		<tr>
			<th>给我留言</th>
			<td><select name="privacy[view][videowall]">
				<option value="0"$sels[view][videowall][0]>站点默认设置</option>
				<option value="1"$sels[view][videowall][1]>允许</option>
				<option value="2"$sels[view][videowall][2]>禁止</option>
				</select></td>
		</tr>
		<tr>
			<th>评论我的信息</th>
			<td><select name="privacy[view][videocomment]">
				<option value="0"$sels[view][videocomment][0]>站点默认设置</option>
				<option value="1"$sels[view][videocomment][1]>允许</option>
				<option value="2"$sels[view][videocomment][2]>禁止</option>
				</select></td>
		</tr>
		<!--{/if}-->
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" name="privacysubmit" value="保存设置" class="submit"></td>
		</tr>
	</table>
	
	<table cellspacing="0" cellpadding="0" class="formtable" id="feed">
		<caption>
			<h2>个人动态发布设置</h2>
			<p>系统会将您的各项动作反映到个人动态里，方便朋友了解你的动态。<br>你可以控制是否在下列动作发生时，在个人动态里发布相关信息</p>
		</caption>
		<tr>
			<th width="150">&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][doing]" value="1"$sels[feed][doing]>记录</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][blog]" value="1"$sels[feed][blog]>撰写日志</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][upload]" value="1"$sels[feed][upload]>上传图片</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][share]" value="1"$sels[feed][share]>添加分享</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][poll]" value="1"$sels[feed][poll]>发起投票</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][joinpoll]" value="1"$sels[feed][joinpoll]>参与投票</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][thread]" value="1"$sels[feed][thread]>发起话题</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][post]" value="1"$sels[feed][post]>对话题回复</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][mtag]" value="1"$sels[feed][mtag]>加入群组</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][event]" value="1"$sels[feed][event]>发起活动</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][join]" value="1"$sels[feed][join]>参加活动</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][friend]" value="1"$sels[feed][friend]>添加好友</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][comment]" value="1"$sels[feed][comment]>发表评论/留言</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][show]" value="1"$sels[feed][show]>竞价排名</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][credit]" value="1"$sels[feed][credit]>积分消费</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][invite]" value="1"$sels[feed][invite]>邀请好友</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][task]" value="1"$sels[feed][task]>完成任务</td>
		</tr>				
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][profile]" value="1"$sels[feed][profile]>更新个人资料</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][click]" value="1"$sels[feed][click]>对日志/图片/话题表态</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" name="privacysubmit" value="保存设置" class="submit"></td>
		</tr>
	</table>
	
<!--{else}-->
	<!--{eval
			$iconnames['activity'] = '日志';
			$iconnames['album'] = '相册';
			$iconnames['blog'] = '日志';
			$iconnames['comment'] = '评论';
			$iconnames['blogcomment'] = '日志评论';
			$iconnames['clickblog'] = '日志表态';
			$iconnames['clickpic'] = '图片表态';
			$iconnames['clickthread'] = '话题表态';
			$iconnames['piccomment'] = '图片评论';
			$iconnames['sharecomment'] = '分享评论';
			$iconnames['debate'] = '论坛辩论';
			$iconnames['discuz'] = '论坛';
			$iconnames['doing'] = '记录';
			$iconnames['friend'] = '好友';
			$iconnames['goods'] = '商品';
			$iconnames['mood'] = '心情';
			$iconnames['mtag'] = '群组';
			$iconnames['event'] = '活动';
			$iconnames['eventcomment'] = '活动留言';
			$iconnames['eventmember'] = '活动成员管理';
			$iconnames['eventmemberstatus'] = '活动成员身份';
			$iconnames['network'] = '随便看看';
			$iconnames['poll'] = '论坛投票';
			$iconnames['post'] = '论坛回贴';
			$iconnames['profile'] = '更新个人资料';
			$iconnames['reward'] = '论坛悬赏';
			$iconnames['share'] = '分享';
			$iconnames['sharenotice'] = '分享通知';
			$iconnames['show'] = '排行榜';
			$iconnames['task'] = '有奖任务';
			$iconnames['thread'] = '话题';
			$iconnames['post'] = '话题回复';
			$iconnames['video'] = '视频';
			$iconnames['wall'] = '留言';
			$iconnames['credit'] = '赠送竞价积分';
			$iconnames['poll'] = '投票';
			$iconnames['pollcomment'] = '投票评论';
			$iconnames['pollinvite'] = '投票邀请';
		}-->

	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>筛选规则一：屏蔽指定用户组的动态</h2>
			<p>你可以决定屏蔽哪些用户组的动态，屏蔽用户组内的组员所发布的动态都将被屏蔽掉。</p>
		</caption>
		<!--{loop $groups $key $value}-->
		<tr>
			<th width="150">&nbsp;</th>
			<td><input type="checkbox" name="privacy[filter_gid][$key]" value="$key"<!--{if isset($space['privacy']['filter_gid'][$key])}--> checked<!--{/if}-->>
				$value</td>
		</tr>
		<!--{/loop}-->
		<tr>
			<th>&nbsp;</th>
			<td>
			<input type="submit" name="privacy2submit" value="保存设置" class="submit">
			<br>您可以在自己的<a href="space.php?do=friend">好友列表</a>中，对好友进行分组，并可以对用户组进行改名。
			</td>
		</tr>
	</table>
	<br>
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>筛选规则二：屏蔽指定好友指定类型的动态</h2>
			<p>点击一下首页好友动态列表后面的屏蔽标志，就可以屏蔽指定好友指定类型的动态了。<br>下面列出的是您已经屏蔽的动态类型识别名和好友名，你可以选择是否取消屏蔽。</p>
		</caption>
		<!--{if $icons}-->
		
		<tr>
			<th width="150">&nbsp;</th>
			<td>
			<ul>
			<!--{loop $icons $key $icon}-->
			<!--{eval $uid = $uids[$key];$icon_uid="$icon|$uid";}-->
			<li>
			<!--{if is_numeric($icon)}-->
				<img src="http://appicon.manyou.com/icons/{$icon}" align="absmiddle">
			<!--{else}-->
				<img src="image/icon/{$icon}.gif" align="absmiddle">
			<!--{/if}-->
				<input type="checkbox" name="privacy[filter_icon][$icon_uid]" value="1" checked> 
				<span class="type_$icon"> <!--{if isset($iconnames[$icon])}-->$iconnames[$icon]<!--{else}-->$icon<!--{/if}--> (<!--{if $users[$uid]}--><a href="space.php?uid=$uid" target="_blank">$users[$uid]</a><!--{else}-->所有好友<!--{/if}-->)</span>
			</li>
			<!--{/loop}-->
			</ul>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
			<input type="submit" name="privacy2submit" value="保存设置" class="submit">
			</td>
		</tr>
		<!--{else}-->
		<tr>
			<th width="150">&nbsp;</th>
			<td>现在还没有屏蔽的动态类型</td>
		</tr>
		<!--{/if}-->
	</table>
	<br>
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>筛选规则三：屏蔽指定好友指定类型的通知</h2>
			<p>点击一下通知列表后面的屏蔽标志，就可以屏蔽指定好友指定类型的通知了。<br>下面列出的是您已经屏蔽的通知类型和好友名，你可以选择是否取消屏蔽。</p>
		</caption>
		<!--{if $types}-->
		
		<tr>
			<th width="150">&nbsp;</th>
			<td>
				<ul>
				<!--{loop $types $key $type}-->
				<!--{eval $uid = $uids[$key];$type_uid="$type|$uid";}-->
					<li>
						<input type="checkbox" name="privacy[filter_note][$type_uid]" value="1" checked>
						<span class="type_$type"> <!--{if isset($iconnames[$type])}-->$iconnames[$type]<!--{else}-->$type<!--{/if}--> (<!--{if $users[$uid]}--><a href="space.php?uid=$uid" target="_blank">$users[$uid]</a><!--{else}-->所有好友<!--{/if}-->)</span>
					</li>
				<!--{/loop}-->
				</ul>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
			<input type="submit" name="privacy2submit" value="保存设置" class="submit">
			</td>
		</tr>
		<!--{else}-->
		<tr>
			<th width="150">&nbsp;</th>
			<td>现在还没有屏蔽的通知类型</td>
		</tr>
		<!--{/if}-->
	</table>
<!--{/if}-->
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>


<!--{template footer}-->