<!--{template header}-->
<!--{template cp_header}-->

<div class="l_status c_form">
	<a href="cp.php?ac=profile&op=base"$cat_actives[base]>基本资料</a><span class="pipe">|</span>
	<a href="cp.php?ac=profile&op=contact"$cat_actives[contact]>联系方式</a><span class="pipe">|</span>
	<a href="cp.php?ac=profile&op=edu"$cat_actives[edu]>教育情况</a><span class="pipe">|</span>
	<a href="cp.php?ac=profile&op=work"$cat_actives[work]>工作情况</a><span class="pipe">|</span>
	<a href="cp.php?ac=profile&op=info"$cat_actives[info]>个人信息</a>
</div>

<!--{eval $farr = array(0=>'全用户','1'=>'仅好友','3'=>'仅自己');}-->
<form method="post" action="$theurl&ref" class="c_form">

<!--{if $_GET['op'] == 'base'}-->

<table cellspacing="0" cellpadding="0" class="formtable">
<tr>
	<th style="width:10em;">您的登录用户名:</th>
	<td>
		<!--{eval echo stripslashes($space['username']);}--> (<a href="cp.php?ac=password">修改登录密码</a>)
	</td>
	<td></td>
</tr>
<!--{if !$_SCONFIG['realname']}-->
<tr>
	<th style="width:10em;">真实姓名:</th>
	<td>
		<input type="text" id="name" name="name" value="<!--{eval echo stripslashes($space['name']);}-->" class="t_input" />
	</td>
	<td>&nbsp;</td>
</tr>
<!--{else}-->
<tr>
	<th style="width:10em;">真实姓名:</th>
	<td>
	<!--{if $space[name] && empty($_GET['namechange'])}-->
	<span style="font-weight:bold;"><!--{eval echo stripslashes($space['name']);}--></span>
	<!--{if $_SCONFIG['namechange']}-->[<a href="$theurl&namechange=1">修改</a>]<!--{/if}-->
	<!--{if $space[namestatus]}-->[<font color="red">认证通过</font>]<!--{else}--><br>等待验证中，您目前将只能使用用户名，并且一些操作可能会受到限制<!--{/if}-->
	<input type="hidden" name="name" value="<!--{eval echo stripslashes($space['name']);}-->" />
	<!--{else}-->
	<!--{if $rncredit && $_GET['namechange']}--><img src="image/credit.gif" align="absmiddle"> 本操作需要支付积分 $rncredit 个，您现在的积分 $space[credit] 个。<br><!--{/if}-->
	<!--{if empty($_SCONFIG['namechange'])}-->您的真实姓名一经确认，将不再允许再次修改，请真实填写。<br><!--{/if}-->
	<!--{if $_SCONFIG['namecheck']}-->您填写/修改真实姓名后，需要等待我们认证后才能有效，在认证通过之前，您将只能使用用户名，并且一些操作可能会受到限制。<br><!--{/if}-->
	<input type="text" id="name" name="name" value="<!--{eval echo stripslashes($space['name']);}-->" class="t_input" /> (请输入2～5个汉字)
	<!--{/if}-->
	</td>
	<td>&nbsp;</td>
</tr>
<!--{/if}-->
<tr>
	<th style="width:10em;">性别:</th>
	<td>
	<!--{if empty($space[sex])}-->
		<label for="sexm"><input id="sexm" type="radio" value="1" name="sex"$sexarr[1] />男</label> 
		<label for="sexw"><input id="sexw" type="radio" value="2" name="sex"$sexarr[2] />女</label>
		<span style="font-weight:bold;color:red;">(性别选择确定后，将不能再次修改)</span>
	<!--{else}-->
		<!--{if $space[sex]==1}-->男<!--{else}-->女<!--{/if}-->
	<!--{/if}-->
	</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<th style="width:10em;">婚恋状态:</th>
	<td>
		<select id="marry" name="marry">
			<option value="0">&nbsp;</option>
			<option value="1"$marryarr[1]>单身</option>
			<option value="2"$marryarr[2]>非单身</option>
		</select>
		<a href="cp.php?ac=friend&op=search&view=sex" target="_blank">&raquo; 查找男女朋友</a>
	</td>
	<td>
		<select name="friend[marry]">
			<option value="0"{$friendarr[marry][0]}>全用户可见</option>
			<option value="1"{$friendarr[marry][1]}>仅好友可见</option>
			<option value="3"{$friendarr[marry][3]}>仅自己可见</option>
		</select>
	</td>
</tr>
<tr>
	<th>生日:</th>
	<td>
		<select id="birthyear" name="birthyear" onchange="showbirthday();">
			<option value="0">&nbsp;</option>
			$birthyeayhtml
		</select> 年 
		<select id="birthmonth" name="birthmonth" onchange="showbirthday();">
			<option value="0">&nbsp;</option>
			$birthmonthhtml
		</select> 月 
		<select id="birthday" name="birthday">
			<option value="0">&nbsp;</option>
			$birthdayhtml
		</select> 日
		<a href="cp.php?ac=friend&op=search&view=birthyear" target="_blank">&raquo; 查找同生日朋友</a>
	</td>
	<td>
		<select name="friend[birth]">
			<option value="0"{$friendarr[birth][0]}>全用户可见</option>
			<option value="1"{$friendarr[birth][1]}>仅好友可见</option>
			<option value="3"{$friendarr[birth][3]}>仅自己可见</option>
		</select>
	</td>
</tr>
<tr>
	<th>血型:</th>
	<td>
		<select id="blood" name="blood">
			<option value="">&nbsp;</option>
			$bloodhtml
		</select>
	</td>
	<td>
		<select name="friend[blood]">
			<option value="0"{$friendarr[blood][0]}>全用户可见</option>
			<option value="1"{$friendarr[blood][1]}>仅好友可见</option>
			<option value="3"{$friendarr[blood][3]}>仅自己可见</option>
		</select>
	</td>
</tr>
<tr>
	<th>家乡:</th>
	<td id="birthcitybox">
		<script type="text/javascript" src="source/script_city.js"></script>
		<script type="text/javascript">
		<!--
		showprovince('birthprovince', 'birthcity', '$space[birthprovince]', 'birthcitybox');
		showcity('birthcity', '$space[birthcity]', 'birthprovince', 'birthcitybox');
		
		//-->
		</script>
		<a href="cp.php?ac=friend&op=search&view=birth" target="_blank">&raquo; 查找老乡</a>
	</td>
	<td>
		<select name="friend[birthcity]">
			<option value="0"{$friendarr[birthcity][0]}>全用户可见</option>
			<option value="1"{$friendarr[birthcity][1]}>仅好友可见</option>
			<option value="3"{$friendarr[birthcity][3]}>仅自己可见</option>
		</select>
	</td>
</tr>
<tr>
	<th>居住地:</th>
	<td id="residecitybox">
		<script type="text/javascript">
		<!--
		showprovince('resideprovince', 'residecity', '$space[resideprovince]', 'residecitybox');
		showcity('residecity', '$space[residecity]', 'resideprovince', 'residecitybox');
		//-->
		</script>
		<a href="cp.php?ac=friend&op=search&view=reside" target="_blank">&raquo; 查找同城</a>
	</td>
	<td>
		<select name="friend[residecity]">
			<option value="0"{$friendarr[residecity][0]}>全用户可见</option>
			<option value="1"{$friendarr[residecity][1]}>仅好友可见</option>
			<option value="3"{$friendarr[residecity][3]}>仅自己可见</option>
		</select>
	</td>
</tr>
<!--{loop $profilefields $value}-->
<tr>
	<th>$value[title]<!--{if $value[required]}-->*<!--{/if}-->:</th>
	<td>
		$value[formhtml]
		<!--{if $value[note]}--> <span class="gray">$value[note]</span><!--{/if}-->
	</td>
	<td>
		<select name="friend[field_{$value[fieldid]}]">
		<!--{eval $field_friendarr = $friendarr["field_$value[fieldid]"];}-->
			<option value="0"{$field_friendarr[0]}>全用户可见</option>
			<option value="1"{$field_friendarr[1]}>仅好友可见</option>
			<option value="3"{$field_friendarr[3]}>仅自己可见</option>
		</select>
	</td>
</tr>
<!--{/loop}-->

<tr>
	<th style="width:10em;">&nbsp;</th>
	<td>
	<input type="submit" name="nextsubmit" value="继续下一项" class="submit" />
	<input type="submit" name="profilesubmit" value="保存" class="submit" />
	</td>
	<td>&nbsp;</td>
</tr>
</table>

<!--{elseif $_GET['op'] == 'contact'}-->

<table cellspacing="0" cellpadding="0" class="formtable">

<!--{if $_GET[editemail]}-->
</table>

<div class="borderbox">
<table cellspacing="0" cellpadding="0" class="formtable">
<tbody>
<tr>
	<th style="width:10em;">本网站的登录密码:</th>
	<td>
		<input type="password" id="password" name="password" value="" class="t_input" />
		<br>为了您的账号安全，更换新邮箱的时候，需要输入您在本网站的密码。
	</td>
	<td></td>
</tr>
<tr>
	<th style="width:10em;">新邮箱:</th>
	<td>
		<input type="text" id="email" class="t_input" name="email" value="$space[email]" />
		<!--{if $space['emailcheck']}-->
		<br>注意：新填写的邮箱只有在验证激活之后，才可以生效。
		<!--{/if}-->
	</td>
	<td></td>
</tr>
</tbody>
</table>
</div><br>

<table cellspacing="0" cellpadding="0" class="formtable">
<!--{else}-->
<!--{if !$space[email]}-->
<tr>
	<th style="width:10em;">本网站的登录密码:</th>
	<td>
		<input type="password" id="password" name="password" value="" class="t_input" />
		<br>为了您的账号安全，填写邮箱的时候，需要输入您在本网站的密码。
	</td>
	<td></td>
</tr>
<!--{/if}-->
<tr>
	<th style="width:10em;">常用邮箱:</th>
	<td>
		<!--{if $space[email]}-->
			$space[email]<br>
			<!--{if $space['emailcheck']}-->
				当前邮箱已经验证激活 (<a href="$theurl&editemail=1">更换</a>)
			<!--{else}-->
				邮箱等待验证中...<br>
				系统已经向该邮箱发送了一封验证激活邮件，请查收邮件，进行验证激活。<br>
				如果没有收到验证邮件，您可以<a href="$theurl&editemail=1">更换一个邮箱</a>，或者<a href="$theurl&resend=1">重新接收验证邮件</a>
			<!--{/if}-->
		<!--{else}-->
			<input type="text" id="email" class="t_input" name="email" value="" />
			<br>请准确填写，取回密码、获取通知的时候都会发送到该邮箱。
			<br>系统同时会向该邮箱发送一封验证激活邮件，请注意查收。<br>
		<!--{/if}-->
		<!--{if $space[newemail]}-->
			<p>您要更换的新邮箱：<strong>$space[newemail]</strong> 需要激活后才能替换当前邮箱并生效。<br>
			如果没有收到验证邮件，您可以<a href="$theurl&resend=1">重新接收验证邮件</a></p>
		<!--{/if}-->
	</td>
	<td></td>
</tr>
<!--{/if}-->
<tr>
	<th style="width:10em;">手机:</th>
	<td>
		<input type="text" class="t_input" name="mobile" value="$space[mobile]" /> 
	</td>
	<td>
		<select name="friend[mobile]">
			<option value="0"{$friendarr[mobile][0]}>全用户可见</option>
			<option value="1"{$friendarr[mobile][1]}>仅好友可见</option>
			<option value="3"{$friendarr[mobile][3]}>仅自己可见</option>
		</select>
	</td>
</tr>
<tr>
	<th style="width:10em;">QQ:</th>
	<td>
		<input type="text" class="t_input" name="qq" value="$space[qq]" /> 
	</td>
	<td>
		<select name="friend[qq]">
			<option value="0"{$friendarr[qq][0]}>全用户可见</option>
			<option value="1"{$friendarr[qq][1]}>仅好友可见</option>
			<option value="3"{$friendarr[qq][3]}>仅自己可见</option>
		</select>
	</td>
</tr>
<tr>
	<th>MSN:</th>
	<td>
		<input type="text" class="t_input" name="msn" value="$space[msn]" /> 
	</td>
	<td>
		<select name="friend[msn]">
			<option value="0"{$friendarr[msn][0]}>全用户可见</option>
			<option value="1"{$friendarr[msn][1]}>仅好友可见</option>
			<option value="3"{$friendarr[msn][3]}>仅自己可见</option>
		</select>
	</td>
</tr>

<tr>
	<th style="width:10em;">&nbsp;</th>
	<td>
	<input type="submit" name="nextsubmit" value="继续下一项" class="submit" />
	<input type="submit" name="profilesubmit" value="保存" class="submit" />
	</td>
	<td>&nbsp;</td>
</tr>
</table>

<!--{elseif $_GET['op'] == 'edu'}-->

<!--{if $list}-->
<table cellspacing="0" cellpadding="0" class="listtable">
<tr class="title">
	<td>学校/班级或院系</td>
	<td>入学年份</td>
	<td>隐私设置</td>
	<td>操作</td>
</tr>
<!--{loop $list $key $value}-->
<!--{if $key%2==1}--><tr class="line"><!--{else}--><tr><!--{/if}-->
	<td>$value[title]<br>$value[subtitle]</td>
	<td>$value[startyear]</td>
	<td>{$farr[$value[friend]]}</td>
	<td><a href="$theurl&subop=delete&infoid=$value[infoid]">删除信息</a><br><a href="cp.php?ac=friend&op=search&searchmode=1&type=edu&title=$value[title_s]" target="_blank">寻找同学</a></td>
</tr>
<!--{/loop}-->
</table>
<br>
<!--{/if}-->

<table cellspacing="0" cellpadding="0" class="formtable">
<!--{if $list}-->
<caption>
	<h2>添加新学校</h2>
</caption>
<!--{/if}-->
<tbody id="oldtbody">
<tr>
	<th style="width:10em;">学校名称:</th>
	<td>
		<input type="text" name="title[]" value="" class="t_input">
	</td>
</tr>
<tr>
	<th>班级或院系:</th>
	<td>
		<input type="text" name="subtitle[]" value="" class="t_input">
	</td>
</tr>
<tr>
	<th>入学年份:</th>
	<td>
		<select name="startyear[]">
		$yearhtml
		</select> 年
	</td>
</tr>
<tr>
	<th>隐私设置:</th>
	<td>
		<select name="friend[]">
			<option value="0">全用户可见</option>
			<option value="1">仅好友可见</option>
			<option value="3">仅自己可见</option>
		</select>
	</td>
</tr>
</tbody>

<tbody id="newtbody"></tbody>

<tr>
	<th style="width:10em;">&nbsp;</th>
	<td><a href="javascript:;" onclick="add_tbody();">添加新的学校信息</a></td>
</tr>
<tr>
	<th style="width:10em;">&nbsp;</th>
	<td>
		<input type="submit" name="nextsubmit" value="继续下一项" class="submit" />
		<input type="submit" name="profilesubmit" value="保存" class="submit" /></td>
</tr>
</table>

<!--{elseif $_GET['op'] == 'work'}-->


<!--{if $list}-->
<table cellspacing="0" cellpadding="0" class="listtable">
<tr class="title">
	<td>公司或机构/部门</td>
	<td>工作时间</td>
	<td>隐私设置</td>
	<td>操作</td>
</tr>
<!--{loop $list $key $value}-->
<!--{if $key%2==1}--><tr class="line"><!--{else}--><tr><!--{/if}-->
	<td>$value[title]<br>$value[subtitle]</td>
	<td>
		{$value[startyear]}年{$value[startmonth]}月 ~ 
		<!--{if $value[endyear]}-->{$value[endyear]}年<!--{/if}-->
		<!--{if $value[endmonth]}-->{$value[endmonth]}月<!--{/if}-->
		<!--{if !$value[endyear] && !$value[endmonth]}-->现在<!--{/if}-->
	</td>
	<td>{$farr[$value[friend]]}</td>
	<td><a href="$theurl&subop=delete&infoid=$value[infoid]">删除信息</a><br><a href="cp.php?ac=friend&op=search&searchmode=1&type=work&title=$value[title_s]" target="_blank">寻找同事</a></td>
</tr>
<!--{/loop}-->
</table>
<br>
<!--{/if}-->

<table cellspacing="0" cellpadding="0" class="formtable">
<!--{if $list}-->
<caption>
	<h2>添加新公司或机构</h2>
</caption>
<!--{/if}-->
<tbody id="oldtbody">
<tr>
	<th style="width:10em;">公司或机构:</th>
	<td>
		<input type="text" name="title[]" value="" class="t_input">
	</td>
</tr>
<tr>
	<th>部门:</th>
	<td>
		<input type="text" name="subtitle[]" value="" class="t_input">
	</td>
</tr>
<tr>
	<th>工作时间:</th>
	<td>
		<select name="startyear[]">
		$yearhtml
		</select> 年
		<select name="startmonth[]">
		$monthhtml
		</select> 月 ~ 
		<select name="endyear[]">
		<option value="">现在</option>
		$yearhtml
		</select> 年
		<select name="endmonth[]">
		<option value=""></option>
		$monthhtml
		</select>月
	</td>
</tr>
<tr>
	<th>隐私设置:</th>
	<td>
		<select name="friend[]">
			<option value="0">全用户可见</option>
			<option value="1">仅好友可见</option>
			<option value="3">仅自己可见</option>
		</select>
	</td>
</tr>
</tbody>

<tbody id="newtbody"></tbody>

<tr>
	<th style="width:10em;">&nbsp;</th>
	<td><a href="javascript:;" onclick="add_tbody();">添加新的公司或机构</a></td>
</tr>
<tr>
	<th style="width:10em;">&nbsp;</th>
	<td>
		<input type="submit" name="nextsubmit" value="继续下一项" class="submit" />
		<input type="submit" name="profilesubmit" value="保存" class="submit" /></td>
</tr>
</table>

<!--{elseif $_GET['op'] == 'info'}-->

<table cellspacing="0" cellpadding="0" class="formtable">
<!--{eval 
$infoarr = array(
	'trainwith' => '我想结交',
	'interest' => '兴趣爱好',
	'book' => '喜欢的书籍',
	'movie' => '喜欢的电影',
	'tv' => '喜欢的电视',
	'music' => '喜欢的音乐',
	'game' => '喜欢的游戏',
	'sport' => '喜欢的运动',
	'idol' => '偶像',
	'motto' => '座右铭',
	'wish' => '最近心愿',
	'intro' => '我的简介'
);
}-->
<tr>
	<th>栏目</th>
	<td>内容</td>
	<td>隐私设置</td>
</tr>

<!--{loop $infoarr $key $value}-->
<tr>
	<th>{$value}:</th>
	<td>
		<textarea name="info[$key]" rows="3" cols="50">{$list[$key][title]}</textarea>
	</td>
	<td>
		<select name="info_friend[$key]">
			<option value="0"{$friends[$key][0]}>全用户可见</option>
			<option value="1"{$friends[$key][1]}>仅好友可见</option>
			<option value="3"{$friends[$key][3]}>仅自己可见</option>
		</select>
	</td>
</tr>
<!--{/loop}-->

<tr>
	<th style="width:10em;">&nbsp;</th>
	<td><input type="submit" name="profilesubmit" value="保存" class="submit" /></td>
</tr>
</table>
<!--{/if}-->


<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>

<script>
function add_tbody() {
	for(i=0; i<$("oldtbody").rows.length; i++) {
		newnode = $("oldtbody").rows[i].cloneNode(true);
		$("newtbody").appendChild(newnode);
	}
}
</script>

<!--{template footer}-->