<!--{template header}-->

<h2 class="title"><img src="image/icon/task.gif">有奖任务</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[task]><a href="cp.php?ac=task"><span>待参与任务</span></a></li>
		<li$actives[done]><a href="cp.php?ac=task&view=done"><span>已参与任务</span></a></li>
		<!--{if $task}-->
		<li$actives[do]><a href="cp.php?ac=task&taskid=$task[taskid]"><span>查看任务</span></a></li>
		<!--{/if}-->
	</ul>
</div>

<!--{if $task}-->

<!--{if $_GET['view']=='member'}-->

	<div class="h_status">
		完成该任务的用户列表
	</div>
	<!--{template space_list}-->

<!--{else}-->

<div id="content">
	<div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
		<table cellspacing="0" cellpadding="0" width="100%" class="task_notice">
			<tr>
				<td width="70"><img src="$task[image]" width="64" height="64" alt="Icon" /></td>
				<td>
					<h3>有奖任务：$task[name]</h3>
					<!--{if $task[starttime]}--><p>开始时间：<!--{date('Y-m-d H:i',$task[starttime])}--></p><!--{/if}-->
					<!--{if $task[endtime]}--><p>结束时间：<!--{date('Y-m-d H:i',$task[endtime])}--></p><!--{/if}-->
					<p>$task[note]</p>
					<!--{if $task[credit]}--><p>奖励积分：<strong class="num">$task[credit]</strong></p><!--{/if}-->
				</td>
			</tr>
		</table>
	</div></div></div></div>
				
	<div style="padding-top:20px;">
	<!--{if $task['done']}-->
		
		

		<!--{if $task['ignore']}-->
			<table cellspacing="0" cellpadding="0" class="formtable">
				<caption>
					<h2>任务被放弃</h2>
					<p>您已经放弃参与该任务，没有获得任何奖励。</p>
				</caption>
				<tr>
					<td><a href="cp.php?ac=task&taskid=$task[taskid]&op=redo" class="submit">重新参与</a></td>
				</tr>
			</table>
		<!--{elseif $_SGLOBAL['task_maxnum']}-->
			<table cellspacing="0" cellpadding="0" class="formtable">
				<caption>
					<h2>参与名额已满</h2>
					<p>该有奖任务目前已经达到名额上限了。</p>
				</caption>
				<tr>
					<td><a href="cp.php?ac=task" class="submit">看看其他任务</a></td>
				</tr>
			</table>
		<!--{elseif $_SGLOBAL['task_available']}-->
			<table cellspacing="0" cellpadding="0" class="formtable">
				<caption>
					<h2>任务失效</h2>
					<p>该有奖任务目前已经停止了。</p>
				</caption>
				<tr>
					<td><a href="cp.php?ac=task" class="submit">看看其他任务</a></td>
				</tr>
			</table>
		<!--{else}-->
			<table cellspacing="0" cellpadding="0" class="formtable">
				<caption>
					<h2>成功完成任务</h2>
					<p>恭喜，您已经领取到任务奖励！</p>
				</caption>
				<tr>
					<td>
					<!--{if $task[credit]}--><p style="color:red;font-size:14px;padding:0 0 5px 0;font-weight:bold;">奖励积分 $task[credit] 个，您现在已经有 $space[credit] 个积分啦！</p><!--{/if}-->
					<p>完成时间：<!--{date('m-d H:i',$task[dateline],1)}--></p>
					<p>参与人次：<a href="cp.php?ac=task&taskid=$task[taskid]&view=member">$task[num] 人</a></p>
					</td>
				</tr>
			</table>
			<!--{if $task[result]}-->
			<table cellspacing="0" cellpadding="0" class="formtable">
				<caption>
					<h2>任务额外奖励</h2>
				</caption>
				<tr>
					<td>$task[result]</td>
				</tr>
			</table>
			<!--{/if}-->
		<!--{/if}-->
	<!--{else}-->
			
			<table cellspacing="0" cellpadding="0" class="formtable">
				<caption>
					<h2>参与任务的步骤说明</h2>
					<p>请您仔细阅读下面的参与本任务的步骤说明，按照指示来完成操作并领取任务奖励。</p>
				</caption>
				<tr>
					<td class="article l_status">$task[guide]</td>
				</tr>
			</table><br>
			
			<!--{if $_GET['view']=='result'}-->
			<div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
				<div class="task_notice">提示：请先按照上面的步骤说明完成任务后再点击领取奖励链接。</div>
			</div></div></div></div>
			<!--{/if}-->
				
			<div style="text-align:center;padding:10px;">
				<a href="cp.php?ac=task&taskid=$task[taskid]&view=result" class="submit">领取奖励</a>
				<a href="cp.php?ac=task&taskid=$task[taskid]&op=ignore" class="button">暂时放弃</a>
			</div>
			
	<!--{/if}-->
	</div>
	
</div>

<div id="sidebar">
	<div class="sidebox">
		<h2 class="title">
			<a href="cp.php?ac=task&taskid=$taskid&view=member" class="r_option">查看全部</a>
			刚刚完成该任务的朋友
		</h2>
		<ul class="avatar_list">
			<!--{loop $taskspacelist $key $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a></p>
				<p class="gray"><!--{date('n月j日',$value[dateline],1)}--></p>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
</div>

<!--{/if}-->

<!--{else}-->

<div id="content">

	<div class="h_status">
		按任务优先级排序，参与任务有大奖，开始吧。
	</div>


	<!--{if $_GET['view'] != 'done'}-->
	<div class="task_percent">
		<div class="percent" style="width: {$done_per}%;">&nbsp;</div>
		<div class="label">我当前的任务完成度 {$done_per}%</div>
	</div>
	<!--{/if}-->
		
	<!--{if empty($tasklist)}-->
		<div class="c_form">已经没有新的任务啦。</div>
	<!--{else}-->
		<!--{loop $tasklist $value}-->
		<div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
			<table cellspacing="0" cellpadding="0" width="100%" class="task_notice">
				<tr>
					<td width="70"><img src="$value[image]" width="64" height="64" alt="Icon" class="icon" /></td>
					<td>
						<h3><a href="cp.php?ac=task&taskid=$value[taskid]">$value[name]</a></h3>
						<!--{if $value[num]}-->
							<p>
								<a href="cp.php?ac=task&taskid=$value[taskid]&view=member">已参与人次： $value[num]</a>
								<!--{if $value[maxnum]}-->
								/ 本任务还可参与 <!--{eval echo $value[maxnum]-$value[num];}--> 人次
								<!--{/if}-->
							</p>
						<!--{/if}-->
						<!--{if $value[starttime]}--><p>开始时间：<!--{date('Y-m-d H:i',$value[starttime])}--></p><!--{/if}-->
						<!--{if $value[endtime]}--><p>结束时间：<!--{date('Y-m-d H:i',$value[endtime])}--></p><!--{/if}-->
						$value[note]
					</td>
					<td width="150" style="text-align:right;">
						<!--{if $value['done']}-->
							<!--{if $value['ignore']}-->
								已经放弃该任务<br>
								您可以选择<a href="cp.php?ac=task&taskid=$value[taskid]&op=redo">重新完成该任务</a>
							<!--{else}-->
								<!--{if $value[credit]}--><p>获得积分：<strong class="num">$value[credit]</strong></p><!--{/if}-->
								<a href="cp.php?ac=task&taskid=$value[taskid]">查看任务</a>
							<!--{/if}-->
						<!--{else}-->
							<!--{if $value[credit]}--><p>可获得积分：<strong class="num">$value[credit]</strong></p><!--{/if}-->
							<a href="cp.php?ac=task&op=do&taskid=$value[taskid]"><img src="image/start_task.gif" alt="立即参与任务" /></a>
						<!--{/if}-->
					</td>
				</tr>
			</table>
		</div></div></div></div><br>
		<!--{/loop}-->
	<!--{/if}-->

</div>

<div id="sidebar">

	<div class="sidebox">
		<h2 class="title">
			刚刚完成任务的朋友
		</h2>
		<ul class="avatar_list">
			<!--{loop $taskspacelist $key $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a></p>
				<p class="gray"><!--{date('n月j日',$value[dateline],1)}--></p>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
	
</div>

<!--{/if}-->

<!--{template footer}-->
