<!--{template header}-->
<!--{template cp_header}-->

<div class="c_form">

<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2><!--{if $space[videostatus]}-->我的视频认证照片<!--{else}-->申请视频认证<!--{/if}--></h2>
		<p>
		<!--{if $space[videostatus]}-->
		以下是您认证的视频照片。如果站长允许重复认证，您可以<a href="userapp.php?id=1036584">重新进入视频认证程序</a>。
		<!--{else}-->
		您需要准备好摄像头，然后点击下面的按钮进行视频认证，通常认证通过后，是不允许重复认证的。
		<!--{/if}-->
		</p>
	</caption>
	<tr>
		<td>
			<!--{if $space[videostatus]}-->
			<img src="$videophoto" id="avatar" alt="" width="400" />
			<!--{elseif $_SCONFIG['videophoto']}-->
			<a href="userapp.php?id=1036584&my_suffix=Lw%3D%3D"><img src="image/videophoto_btn.gif" alt=""></a>
			<!--{/if}-->
		</td>
	</tr>
</table>

<!--{if checkperm('managevideophoto')}-->
<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>视频认证审核</h2>
		<p>您可以进入视频认证平台，自行进行设置认证审核管理</p>
	</caption>
	<tr>
		<td>
			<a href="userapp.php?id=1036584" class="submit">视频认证审核管理</a>
		</td>
	</tr>
</table>
<!--{/if}-->
	
</div>
<!--{template footer}-->
