<!--{template header}-->

<!--{if $op == 'comment'}-->

	<!--{loop $list $value}-->
		<!--{template space_comment_li}-->
	<!--{/loop}-->
	
<!--{elseif $op == 'getfriendgroup'}-->
	$group
<!--{elseif $op == 'getfriendname'}-->
	$groupname
<!--{elseif $op == 'getmtagmember'}-->
	<!--{if $tagspace[grade]==9}-->群主
	<!--{elseif $tagspace[grade]==8}-->副群主
	<!--{elseif $tagspace[grade]==1}-->明星
	<!--{elseif $tagspace[grade]==-1}-->待审核
	<!--{elseif $tagspace[grade]==-2}-->禁言
	<!--{else}-->普通会员
	<!--{/if}-->
	
<!--{elseif $op == 'post'}-->

	<!--{loop $list $value}-->
		<!--{template space_post_li}-->
	<!--{/loop}-->

<!--{elseif $op == 'share'}-->

	<!--{loop $list $value}-->
		<!--{template space_share_li}-->
	<!--{/loop}-->

<!--{elseif $op == 'album'}-->

	<table cellspacing="2" cellpadding="2">
	<tr>
	<!--{loop $piclist $key $value}-->
	<td><img src="$value[pic]" width="60" onclick="insertImage('$value[bigpic]');" style="cursor:hand;"></td>
	<!--{if $key%5==4}--></tr><tr><!--{/if}-->
	<!--{/loop}-->
	</tr>
	</table>
	
	<div class="page">$multi</div>
<!--{elseif $op == 'getreward'}-->
	<!--{if $rule[credit] || $rule[experience]}-->
	<div class="popupmenu_layer">
			<p>$rule[rulename]</p>
			<p class="btn_line">
				<!--{if $rule[credit]}-->积分 <strong>+$rule[credit]</strong> <!--{/if}-->
				<!--{if $rule[experience]}-->经验 <strong>+$rule[experience]</strong> <!--{/if}-->
			</p>
			<!--{if $rule[cyclenum]}-->
			<p>
				本周期内，您还有 $rule[cyclenum] 次机会
			</p>
			<!--{/if}-->
	</div>
	<!--{/if}-->
<!--{/if}-->

<!--{template footer}-->