<!--{template header}-->
<h2 class="title"><a href="do.php?ac=stat">站点趋势统计</a></h2>

<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>统计分类</h2>
		<p>站点趋势统计系统，会记录每日站点的发展概况。通过每日的趋势变化，为站长运营站点提供科学的数据基础。</p>
	</caption>
	<tr><td>
	<ul class="line_list">
		<li>
			<strong>基础数据</strong>：
			<a href="do.php?ac=stat"$actives[all]>综合概况</a> &nbsp;
			<!--{loop $cols['login'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>信息发布</strong>：
			<!--{loop $cols['add'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>信息互动</strong>：
			<!--{loop $cols['comment'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>用户互动</strong>：
			<!--{loop $cols['space'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
	</ul>
	</td></tr>
</table>
<br>

<table cellspacing="0" cellpadding="0" class="formtable">
	<!--{if $type=='all'}-->
	<caption>
		<h2>综合概况</h2>
		<p>
		这里看到的是站点的综合概况发展统计。(需要至少统计2天后才有效)
		</p>
	</caption>
	<tr><td>
	<ul class="line_list">
		<li><strong>来访用户</strong>：指的是每天访问本站的唯一用户数。一个用户访问多次，也只算一次；</li>
		<li><strong>信息发布</strong>：指的是每天发布记录、日志、图片、话题、投票、活动和分享的总数量；</li>
		<li><strong>信息互动</strong>：指的是每天进行以上信息互相评论和表态、参加投票、参与活动的互动总数量；</li>
		<li><strong>用户互动</strong>：指的是每天用户之间互相留言、打招呼的互动总数量；</li>
	</ul>
	</td></tr>
	<!--{else}-->
	<caption>
		<h2><!--{eval echo cplang("do_stat_$type");}--></h2>
	</caption>
	<!--{/if}-->
	<tr><td>
	<div class="borderbox">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,45,0" width="750" height="300">
		  <param name="movie" value="image/stat.swf?$statuspara" />
		  <param name="quality" value="high" />
		  <embed src="image/stat.swf?$statuspara" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="750" height="300"></embed>
		</object>
	</div>
	</td></tr>
</table>

<!--{template footer}-->