<!--{if empty($_SGLOBAL['inajax'])}-->
	<!--{if empty($_TPL['nosidebar'])}-->
		<!--{if $_SGLOBAL['ad']['contentbottom']}--><br style="line-height:0;clear:both;"/><div id="ad_contentbottom"><!--{ad/contentbottom}--></div><!--{/if}-->
		</div>
		
		<!--/mainarea-->
		<div id="bottom"></div>
	</div>
	<!--/main-->
	<!--{/if}-->

	<div id="footer">
		<!--{if $_TPL['templates']}-->
		<div class="chostlp" title="切换风格"><img id="chostlp" src="{$_TPL['default_template']['icon']}" onmouseover="showMenu(this.id)" alt="{$_TPL['default_template']['name']}" /></div>
		<ul id="chostlp_menu" class="chostlp_drop" style="display: none">
		<!--{loop $_TPL['templates'] $value}-->
			<li><a href="cp.php?ac=common&op=changetpl&name=$value[name]" title="$value[name]"><img src="$value[icon]" alt="$value[name]" /></a></li>
		<!--{/loop}-->
		</ul>
		<!--{/if}-->
		
		<p class="r_option">
			<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP"><img src="image/top.gif" alt="" style="padding: 5px 6px 6px;" /></a>
		</p>
		
		<!--{if $_SGLOBAL['ad']['footer']}-->
		<p style="padding:5px 0 10px 0;"><!--{ad/footer}--></p>
		<!--{/if}-->
			
		<!--{if $_SCONFIG['close']}-->
		<p style="color:blue;font-weight:bold;">
			提醒：当前站点处于关闭状态
		</p>
		<!--{/if}-->
		<p>
			$_SCONFIG[sitename] - 
			<a href="mailto:$_SCONFIG[adminemail]">联系我们</a>
			<!--{if $_SCONFIG['miibeian']}--> - <a  href="http://www.miibeian.gov.cn" target="_blank">$_SCONFIG[miibeian]</a><!--{/if}-->
		</p>
		<p>
			Powered by <a  href="http://u.discuz.net" target="_blank"><strong>UCenter Home</strong></a> <span title="<!--{eval echo X_RELEASE;}-->"><!--{eval echo X_VER;}--></span>
			<!--{if !empty($_SCONFIG['licensed'])}--><a  href="http://license.comsenz.com/?pid=7&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a><!--{/if}-->
			&copy; 2001-2010 <a  href="http://www.comsenz.com" target="_blank">Comsenz Inc.</a>
		</p>
		<!--{if $_SCONFIG['debuginfo']}-->
		<p><!--{eval echo debuginfo();}--></p>
		<!--{/if}-->
	</div>
</div>
<!--/wrap-->

<!--{if $_SGLOBAL['appmenu']}-->
<ul id="ucappmenu_menu" class="dropmenu_drop" style="display:none;">
	<li><a href="{$_SGLOBAL[appmenu][url]}" title="{$_SGLOBAL[appmenu][name]}" target="_blank">{$_SGLOBAL[appmenu][name]}</a></li>
	<!--{loop $_SGLOBAL['appmenus'] $value}-->
	<li><a href="$value[url]" title="$value[name]" target="_blank">$value[name]</a></li>
	<!--{/loop}-->
</ul>
<!--{/if}-->

<!--{if $_SGLOBAL[supe_uid]}-->
<ul id="membernotemenu_menu" class="dropmenu_drop" style="display:none;">
	<!--{eval $member = $_SGLOBAL['member'];}-->
	<!--{if $member[notenum]}--><li><img src="image/icon/notice.gif" width="16" alt="" /> <a href="space.php?do=notice"><strong>$member[notenum]</strong> 个新通知</a></li><!--{/if}-->
	<!--{if $member[pokenum]}--><li><img src="image/icon/poke.gif" alt="" /> <a href="cp.php?ac=poke"><strong>$member[pokenum]</strong> 个新招呼</a></li><!--{/if}-->
	<!--{if $member[addfriendnum]}--><li><img src="image/icon/friend.gif" alt="" /> <a href="cp.php?ac=friend&op=request"><strong>$member[addfriendnum]</strong> 个好友请求</a></li><!--{/if}-->
	<!--{if $member[mtaginvitenum]}--><li><img src="image/icon/mtag.gif" alt="" /> <a href="cp.php?ac=mtag&op=mtaginvite"><strong>$member[mtaginvitenum]</strong> 个群组邀请</a></li><!--{/if}-->
	<!--{if $member[eventinvitenum]}--><li><img src="image/icon/event.gif" alt="" /> <a href="cp.php?ac=event&op=eventinvite"><strong>$member[eventinvitenum]</strong> 个活动邀请</a></li><!--{/if}-->
	<!--{if $member[myinvitenum]}--><li><img src="image/icon/userapp.gif" alt="" /> <a href="space.php?do=notice&view=userapp"><strong>$member[myinvitenum]</strong> 个应用消息</a></li><!--{/if}-->
</ul>
<!--{/if}-->

<!--{if $_SGLOBAL[supe_uid]}-->
<!--{if !isset($_SCOOKIE['checkpm'])}-->
<script language="javascript"  type="text/javascript" src="cp.php?ac=pm&op=checknewpm&rand=$_SGLOBAL[timestamp]"></script>
<!--{/if}-->
<!--{if !isset($_SCOOKIE['synfriend'])}-->
<script language="javascript"  type="text/javascript" src="cp.php?ac=friend&op=syn&rand=$_SGLOBAL[timestamp]"></script>
<!--{/if}-->
<!--{/if}-->
<!--{if !isset($_SCOOKIE['sendmail'])}-->
<script language="javascript"  type="text/javascript" src="do.php?ac=sendmail&rand=$_SGLOBAL[timestamp]"></script>
<!--{/if}-->

<!--{if $_SGLOBAL['ad']['couplet']}-->
<script language="javascript" type="text/javascript" src="source/script_couplet.js"></script>
<div id="uch_couplet" style="z-index: 10; position: absolute; display:none">
	<div id="couplet_left" style="position: absolute; left: 2px; top: 60px; overflow: hidden;">
		<div style="position: relative; top: 25px; margin:0.5em;" onMouseOver="this.style.cursor='hand'" onClick="closeBanner('uch_couplet');"><img src="image/advclose.gif"></div>
		<!--{ad/couplet}-->
	</div>
	<div id="couplet_rigth" style="position: absolute; right: 2px; top: 60px; overflow: hidden;">
		<div style="position: relative; top: 25px; margin:0.5em;" onMouseOver="this.style.cursor='hand'" onClick="closeBanner('uch_couplet');"><img src="image/advclose.gif"></div>
		<!--{ad/couplet}-->
	</div>
	<script type="text/javascript">
		lsfloatdiv('uch_couplet', 0, 0, '', 0).floatIt();
	</script>
</div>
<!--{/if}-->
<!--{if $_SCOOKIE[reward_log]}-->
<script type="text/javascript">
showreward();
</script>
<!--{/if}-->
<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->

<!--{template webim_uchome}-->
</body>
</html>
<!--{/if}-->