<!--{template header}-->

<h2 class="title"><img src="image/icon/friend.gif">好友邀请<!--{if $userapp}-->一起玩 $userapp[appname]<!--{/if}--></h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="$theurl"><span>好友邀请</span></a></li>
		<li><a href="space.php?$url_plus" target="_blank"><span>访问好友主页</span></a></li>
	</ul>
</div>

<div id="content">

	<div class="c_mgs"><div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
	<table cellpadding="2" cellspacing="2" width="100%">
	<tr>
	<td>
		<strong>欢迎您，<a href="space.php?$url_plus" target="_blank">{$_SN[$space[uid]]}</a> 热情邀请您为好友<!--{if $userapp}-->，并一起玩 $userapp[appname]<!--{/if}-->。</strong>
		<br>成为好友后，您们就可以一起讨论话题，及时关注对方的更新，还可以玩有趣的游戏 $userapp[appname] ...
		<br>您也可以方便快捷地发布自己的日志、上传图片、记录生活点滴与好友分享。
		<br>还等什么呢？赶快加入我们吧。
	</td>
	<!--{if $userapp}--><td><img src="http://appicon.manyou.com/logos/{$userapp[appid]}" alt="{$userapp[appname]}" /></td><!--{/if}-->
	</tr>
	</table>
	</div></div></div></div></div>


	<table cellpadding="2" cellspacing="2">
		<tr>
			<td>
			<div class="ar_r_t"><div class="ar_l_t"><div class="ar_r_b"><div class="ar_l_b">
			<a href="space.php?$url_plus" class="avatarlink"><!--{avatar($space[uid],middle)}--></a>
			</div></div></div></div>
			</td>
			<td>
				<h6 class="l_status"><a href="space.php?$url_plus">{$_SN[$space[uid]]}</a></h6>
				<p>来自 $space[resideprovince] $space[residecity]</p>
				<p>已有 $space[friendnum] 个好友, $albumnum 个相册, $doingnum 条记录, $blognum 篇日志, $threadnum 个话题, $tagspacenum 个群组</p>
				<!--{if $space[note]}--><div class="quote"><span id="quote" class="q">$space[note]</span></div><!--{/if}-->
				<p style="padding-top:1em;">
			<!--{if $_SGLOBAL['supe_uid']}-->
				<form method="post" name="commentform" action="$theurl">
				<input type="hidden" name="invitesubmit" value="1">
				<input type="submit" name="invitesubmit_submit" value="接受邀请" class="submit" />
				<a href="space.php" class="button">忽略此邀请</a>
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
				</form>
			<!--{else}-->
				<!--{if empty($_SCONFIG['closeinvite'])}-->
				<a href="do.php?ac=$_SCONFIG[register_action]&$url_plus" class="submit">接受邀请，我要注册</a>
				<!--{/if}-->
				<a href="do.php?ac=$_SCONFIG[login_action]&$url_plus" class="submit">马上登录</a>
			<!--{/if}-->
				</p>
			</td>
		</tr>
	</table>

</div>

<div id="sidebar">
	<div class="sidebox">
		<h2 class="title">{$_SN[$space[uid]]}的好友们</h2>
		<ul class="avatar_list">
			<!--{loop $flist $key $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a></p>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
</div>

<!--{template footer}-->
