<!--{eval $_TPL['titles'] = array('同心情');}-->
<!--{template header}-->


<h2 class="title"><img src="image/app/doing.gif">记录</h2>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[self]}-->
		<!--{if $space[friendnum]}--><li><a href="space.php?uid=$space[uid]&do=doing&view=we"><span>最新好友记录</span></a></li><!--{/if}-->
		<li><a href="space.php?uid=$space[uid]&do=doing&view=all"><span>大家的记录</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=doing&view=me"><span>我的记录</span></a></li>
		<!--{/if}-->
		<li class="active"><a href="space.php?uid=$space[uid]&do=mood&view=all"><span>同心情的朋友</span></a></li>
	</ul>
</div>

<div class="h_status">
	他们现在与你有着同样的心情
</div>

<!--{template space_list}-->

<!--{template footer}-->