<!--{eval $_TPL['titles'] = array($mtag['tagname'], $mtag['title'], '成员');}-->
<!--{template header}-->

<h2 class="title">
	<img src="image/app/mtag.gif"><a href="space.php?do=mtag&id=$mtag[fieldid]">$mtag[title]</a> -
	<a href="space.php?do=mtag&tagid=$mtag[tagid]">$mtag[tagname]</a>
</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]"><span>首页</span></a></li>
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list"><span>讨论区</span></a></li>
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=digest"><span>精华区</span></a></li>
		<!--{if $eventnum}-->
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=event"><span>群组活动</span></a></li>
		<!--{/if}-->
		<li class="active"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member"><span>成员列表</span></a></li>
		<!--{if $mtag['allowpost']}--><li class="null"><a href="cp.php?ac=thread&tagid=$tagid">发起新话题</a></li><!--{/if}-->
	</ul>
</div>

<script>
function searchFriend() {
	$('searchform').submit();
}
</script>

<div class="h_status">
<form name="searchform" id="searchform" method="get" action="space.php?do=mtag&tagid=$mtag[tagid]&view=member">
<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			成员列表
			<!--{if $mtag[grade]>=8}--><span class="pipe">|</span><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members">成员批量管理</a><!--{/if}-->
			</td>
		<td align="right">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td style="padding: 0;"><input type="text" id="key" name="key" value="搜索成员" onfocus="if(this.value=='搜索成员')this.value='';" class="t_input" tabindex="1" style="width: 160px; border-right: none;" /></td>
					<td style="padding: 0;"><a href="javascript:searchFriend();"><img src="image/search_btn.gif" alt="搜索" /></a></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<input type="hidden" name="do" value="mtag">
<input type="hidden" name="tagid" value="$mtag[tagid]">
<input type="hidden" name="view" value="member">
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" /></form>
</div>

<div class="thumb_list">
	<!--{if $list}-->
	<table cellspacing="6" cellpadding="0">
	<!--{loop $list $key $value}-->
		<tr>
			<td class="thumb <!--{if $ols[$value[uid]]}-->online<!--{/if}-->">
				<table cellpadding="4" cellspacing="4">
					<tr>
						<td class="image">
						<div class="ar_r_t"><div class="ar_l_t"><div class="ar_r_b"><div class="ar_l_b">
						<a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],big)}--></a>
						</div></div></div></div>
						</td>
						<td>
							<h6>
								<a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a>
								<!--{if $value['videostatus']}-->
								<img src="image/videophoto.gif" align="absmiddle"> <span class="gray">已通过视频认证</span>
								<!--{/if}-->
							</h6>
							<p class="l_status">
							<!--{if $mtag[grade]>=8}-->
								<a href="cp.php?ac=mtag&op=manage&subop=member&tagid=$mtag[tagid]&uid=$value[uid]" id="a_mod_$key" onclick="ajaxmenu(event, this.id, 1)" class="r_option" style="padding-left:0.5em;">管理该成员</a>
							<!--{/if}-->
								<span class="r_option gray" id="mtag_member_$value[uid]">
								<!--{if $value[grade]==9}-->群主
								<!--{elseif $value[grade]==8}-->副群主
								<!--{elseif $value[grade]==1}-->明星
								<!--{elseif $value[grade]==-1}-->禁言
								<!--{elseif $value[grade]==-2}-->待审核<!--{/if}-->
								</span>
								<a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 1)">加为好友</a>
								<span class="pipe">|</span><a href="cp.php?ac=pm&uid=$value[uid]" id="a_pm_$key" onclick="ajaxmenu(event, this.id, 1)">发短消息</a>
								<span class="pipe">|</span><a href="cp.php?ac=poke&op=send&uid=$value[uid]" id="a_poke_$key" onclick="ajaxmenu(event, this.id, 1)">打招呼</a>
							</p>
							
							<!--{if $ols[$value[uid]]}-->
							<p><span class="gray">动作：</span><!--{date('m-d H:i',$ols[$value[uid]],1)}--></p>
							<!--{/if}-->

							<!--{if $value[resideprovince] || $value[residecity]}-->
							<p><span class="gray">地区：</span><a href="cp.php?ac=friend&op=search&resideprovince=$value[p]&residecity=&searchmode=1">$value[resideprovince]</a> <a href="cp.php?ac=friend&op=search&resideprovince=$value[p]&residecity=$value[c]&searchmode=1">$value[residecity]</a></p>
							<!--{/if}-->
	
							<!--{if $value[note]}-->
							<p><span class="gray">状态：</span>$value[note]</p>
							<!--{/if}-->

						</td>
					</tr>
				</table>
			</td>
		</tr>
		<!--{/loop}-->
	</table>
	<!--{else}-->
	<div class="c_form">没有找到可浏览的成员信息。</div>
	<!--{/if}-->
</div>

<div class="page">$multi</div>


<!--{template footer}-->
