<li class="s_clear $value[magic_class]" id="feed_{$value[feedid]}_li" onmouseover="feed_menu($value[feedid],1);" onmouseout="feed_menu($value[feedid],0);">
	<div style="width:100%;overflow:hidden;" {$value[style]}>
		<!--{if $value[uid] && empty($_TPL[hidden_more])}-->
		<a href="cp.php?ac=feed&op=menu&feedid=$value[feedid]" class="float_more" id="a_feed_menu_$value[feedid]"  onmouseover="feed_menu($value[feedid],1);" onmouseout="feed_menu($value[feedid],0);" onclick="ajaxmenu(event, this.id)" title="显示更多选项" style="display:none;">菜单</a>
		<!--{/if}-->
		<a class="type" href="space.php?uid=$_GET[uid]&do=feed&view=$_GET[view]&appid=$value[appid]&icon=$value[icon]" title="只看此类动态"><img src="$value[icon_image]" /></a>
		$value[title_template] 
		
		<!--{if empty($_TPL[hidden_time])}-->
		<span class="gray"><!--{date('m-d H:i',$value[dateline],1)}--></span>
		<!--{/if}-->
		
		<!--{if empty($_TPL[hidden_menu])}-->
		<!--{if $value['idtype']=='doid'}-->
		(<a href="javascript:;" onclick="docomment_get('docomment_$value[id]', 1);" id="do_a_op_$value[id]">回复</a>)
		<!--{elseif in_array($value['idtype'], array('blogid','picid','sid','pid','eventid'))}-->
		(<a href="javascript:;" onclick="feedcomment_get($value[feedid]);" id="feedcomment_a_op_$value[feedid]">评论</a>)
		<!--{/if}-->
		<!--{/if}-->
		
		<div class="feed_content">
		
			<!--{if empty($_TPL[hidden_hot]) && $value[hot]}-->
			<div class="hotspot"><a href="cp.php?ac=feed&feedid=$value[feedid]">$value[hot]</a></div>
			<!--{/if}-->	
		
			<!--{if $value['image_1']}-->
			<a href="$value[image_1_link]"{$value[target]}><img src="$value[image_1]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $value['image_2']}-->
			<a href="$value[image_2_link]"{$value[target]}><img src="$value[image_2]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $value['image_3']}-->
			<a href="$value[image_3_link]"{$value[target]}><img src="$value[image_3]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $value['image_4']}-->
			<a href="$value[image_4_link]"{$value[target]}><img src="$value[image_4]" class="summaryimg" /></a>
			<!--{/if}-->
			
			<!--{if $value['body_template']}-->
			<div class="detail"<!--{if $value['image_3']}--> style="clear: both;"<!--{/if}-->>
				$value[body_template]
			</div>
			<!--{/if}-->
			
			<!--{if $value['thisapp'] && !empty($value['body_data']['flashvar'])}-->
			<div class="media">
				<img src="image/vd.gif" alt="点击播放" onclick="javascript:showFlash('{$value['body_data']['host']}', '{$value['body_data']['flashvar']}', this, '{$value['feedid']}');" style="cursor:pointer;" />
			</div>
			<!--{elseif $value['thisapp'] && !empty($value['body_data']['musicvar'])}-->
			<div class="media">
				<img src="image/music.gif" alt="点击播放" onclick="javascript:showFlash('music', '{$value['body_data']['musicvar']}', this, '{$value['feedid']}');" style="cursor:pointer;" />
			</div>
			<!--{elseif $value['thisapp'] && !empty($value['body_data']['flashaddr'])}-->
			<div class="media">
				<img src="image/flash.gif" alt="点击查看" onclick="javascript:showFlash('flash', '{$value['body_data']['flashaddr']}', this, '{$value['feedid']}');" style="cursor:pointer;" />
			</div>
			<!--{/if}-->

			<!--{if $value['body_general']}-->
			<div class="quote"><span class="q">$value[body_general]</span></div>
			<!--{/if}-->
		</div>
	</div>
	
	<!--{if $value['idtype']=='doid'}-->
	<div id="docomment_$value[id]" style="display:none;"></div>
	<!--{elseif $value['idtype']}-->
	<div id="feedcomment_$value[feedid]" style="display:none;"></div>
	<!--{/if}-->
	
	<!--{if !empty($hiddenfeed_num[$value[icon]])}-->
	<div id="appfeed_open_$value[feedid]"><a href="javascript:;" id="feed_a_more_$value[feedid]" onclick="feed_more_show('$value[feedid]');">&raquo; 更多动态({$hiddenfeed_num[$value[icon]]})</a></div>
	<div id="feed_more_$value[feedid]" style="display:none;">
		<ol>
		<!--{loop $hiddenfeed_list[$value[icon]] $appvalue}-->
		<!--{eval $appvalue = mkfeed($appvalue);}-->
		<li>
		$appvalue[title_template]
		<div class="feed_content" style="width:100%;overflow:hidden;">
			<!--{if $appvalue['image_1']}-->
			<a href="$appvalue[image_1_link]"{$appvalue[target]}><img src="$appvalue[image_1]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $appvalue['image_2']}-->
			<a href="$appvalue[image_2_link]"{$appvalue[target]}><img src="$appvalue[image_2]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $appvalue['image_3']}-->
			<a href="$appvalue[image_3_link]"{$appvalue[target]}><img src="$appvalue[image_3]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $appvalue['image_4']}-->
			<a href="$appvalue[image_4_link]"{$appvalue[target]}><img src="$appvalue[image_4]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $appvalue['body_template']}-->
			<div class="detail"<!--{if $appvalue['image_3']}--> style="clear: both;"<!--{/if}-->>
				$appvalue[body_template]
			</div>
			<!--{/if}-->
			<!--{if $appvalue['body_general']}-->
			<div class="quote"><span class="q">$appvalue[body_general]</span></div>
			<!--{/if}-->
		</div>
		</li>
		<!--{/loop}-->
		</ol>
	</div>
	<!--{/if}-->
</li>