<ol>
<!--{loop $list $value}-->
<!--{if $value[uid]}-->
<li style="$value[style]">
	<a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a>: $value[message] <span class="doingtime">(<!--{date('m-d H:i',$value[dateline],1)}-->)</span> 
	<a href="javascript:;" onclick="docomment_form($value[doid], $value[id]);" class="re">回复</a>
	<!--{if $value[uid]==$_SGLOBAL[supe_uid] || $dv['uid']==$_SGLOBAL[supe_uid]}--> <a href="cp.php?ac=doing&op=delete&doid=$value[doid]&id=$value[id]" id="doing_delete_{$value[doid]}_{$value[id]}" onclick="ajaxmenu(event, this.id)" class="gray">删除</a><!--{/if}-->
	<span id="docomment_form_{$value[doid]}_{$value[id]}"></span>
</li>
<!--{/if}-->
<!--{/loop}-->
</ol>