<!--{eval $_TPL['titles'] = array($mtag['tagname'], $mtag['title'], '首页');}-->
<!--{template header}-->

<h2 class="title">
	<img src="image/app/mtag.gif"><a href="space.php?do=mtag&id=$mtag[fieldid]">$mtag[title]</a> -
	<a href="space.php?do=mtag&tagid=$mtag[tagid]">$mtag[tagname]</a>
</h2>
<div class="tabs_header">
	<a href="cp.php?ac=share&type=mtag&id=$mtag[tagid]" id="a_share" class="a_share" onclick="ajaxmenu(event, this.id, 1)">分享</a>
	<div class="r_option">
		<!--{if checkperm('managemtag')}-->
		<a href="admincp.php?ac=mtag&tagid=$mtag[tagid]" target="_blank">群组管理</a><span class="pipe">|</span>
		<!--{/if}-->
		<a href="cp.php?ac=common&op=report&idtype=tagid&id=$mtag[tagid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">举报</a><span class="pipe">|</span>
	</div>
	<ul class="tabs">
		<li class="active"><a href="javascript:;"><span>首页</span></a></li>
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list"><span>讨论区</span></a></li>
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=digest"><span>精华区</span></a></li>
		<!--{if $eventnum}-->
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=event"><span>群组活动</span></a></li>
		<!--{/if}-->
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member"><span>成员列表</span></a></li>
		<!--{if $mtag['allowthread']}-->
		<li class="null"><a href="cp.php?ac=thread&tagid=$mtag[tagid]">发起新话题</a></li>
		<!--{/if}-->
		<!--{if empty($mtag['ismember']) && $mtag['joinperm'] < 2}-->
		<li class="null"><a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">加入该群组</a></li>	
		<!--{/if}-->
	</ul>
</div>

<div id="content">

	<div class="affiche">
		<div id="space_avatar" class="floatleft"><img src="$mtag[pic]" alt="$mtag[tagname]" width="48" /></div>
		<h3>公告</h3>
		<div class="article">
			<!--{if $mtag[announcement]}-->$mtag[announcement]<!--{else}-->还没有公告<!--{/if}-->
		</div>
	</div>

	<div class="topic_list">
	<!--{if $list}-->
		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<td class="subject">主题</td>
					<td class="author"><!--{if $_GET[view]!='me'}-->作者 <!--{/if}-->(回应/阅读)</td>
					<td class="lastpost">最后更新</td>
				</tr>
			</thead>
			<tbody>
				<!--{loop $list $key $value}-->
					<!--{eval $magicegg = ""}-->							
					<!--{eval if($value[magicegg]) for($i=0; $i<$value[magicegg]; $i++) $magicegg .= '<img src="image/magic/egg/'.mt_rand(1,6).'.gif" />';}-->
				<tr <!--{if $key%2==1}--> class="alt"<!--{/if}-->>
					<td class="subject">
					<!--<div style="width:290px;word-break:break-all;">-->
					<!--{if $value[displayorder]}--> [顶] <!--{/if}-->
					<!--{if $value[digest]}--> [精] <!--{/if}-->
					<!--{if $value[eventid]}--> [活] <!--{/if}-->
					$magicegg
					<a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a>
					<!--{if $value[hot]}-->
					<br><span class="gray">$value[hot] 人推荐</span>
					<!--{/if}-->
					<!--</div>-->
					</td>
					<td class="author"><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a><br>$value[replynum]/$value[viewnum]</td>
					<td class="lastpost"><a href="space.php?uid=$value[lastauthorid]" title="{$_SN[$value[lastauthorid]]}">{$_SN[$value[lastauthorid]]}</a><br><!--{date('m-d H:i',$value[lastpost],1)}--></td>
				</tr>
				<!--{/loop}-->
			</tbody>
		</table>
		<div class="r_option">
		<a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list">查看全部话题列表</a>
		</div>
	<!--{else}-->
		<div class="c_form">
		<!--{if empty($mtag[allowview])}-->
			本群组目前不是公开状态，只对内部成员开放。<br>
		<!--{if $mtag['grade'] == -2}-->
			您的加入申请审核中。请等候。
		<!--{elseif $mtag[joinperm]==1}-->
			您可以<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="a_mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">选择加入该群组</a>，但你的申请需要经群主审核后才有效。
		<!--{elseif $mtag[joinperm]==2}-->
			您需要在收到群主的邀请后才能加入该群组。
		<!--{else}-->
			您可以立即<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="a_mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">选择加入该群组</a>。
		<!--{/if}-->
		<!--{else}-->
			还没有话题。
		<!--{/if}-->
		</div>
	<!--{/if}-->
	</div>
	
</div>

<div id="sidebar">



	<div class="sidebox">
		<h2 class="title">群组菜单</h2>
		<ul class="menu_list">
			<!--{if $mtag['allowthread']}-->
			<li><a href="cp.php?ac=thread&tagid=$mtag[tagid]">发起话题</a></li>
			<!--{/if}-->
			<!--{if empty($mtag['ismember']) && $mtag['joinperm'] < 2}-->
			<li><a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="a_mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">加入群组</a></li>	
			<!--{/if}-->
			
			<!--{if $mtag['grade'] == 9}-->
			<li><a href="cp.php?ac=event&tagid=$mtag[tagid]">发起活动</a></li>
			<!--{/if}-->
			<!--{if $mtag['grade'] >= 8}-->
			<li><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=base">群组设置</a></li>
			<!--{/if}-->
			<!--{if $mtag['grade'] >= 8}-->
			<li><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members">成员管理</a></li>
			<li><a href="admincp.php?ac=thread&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1" target="_blank">话题管理</a></li>
			<li><a href="admincp.php?ac=post&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1">回帖管理</a></li>
			<!--{elseif $mtag['ismember'] && !$mtag['closeapply']}-->
			<li><a href="cp.php?ac=mtag&op=apply&tagid=$mtag[tagid]" id="a_apply" onclick="ajaxmenu(event, this.id)">群主申请</a></li>
			<!--{/if}-->
			<!--{if $mtag['allowinvite']}-->
			<li><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=invite">邀请好友</a></li>
			<!--{/if}-->
			<!--{if $mtag['ismember']}-->
			<li><a href="cp.php?ac=mtag&op=out&tagid=$mtag[tagid]" id="a_ignore_top" onclick="ajaxmenu(event, this.id)">退出群组</a></li>
			<!--{/if}-->
		</ul>
	</div>


	<div class="sidebox">
		<h2 class="title">群组概况</h2>
		<div style="padding:0 0 0 40px;">
			<p>成员数：$mtag[membernum]</p>
			<p>话题数：$mtag[threadnum]</p>
			<p>回帖数：$mtag[postnum]</p>
		</div>
	</div>

	<!--{if $modlist}-->
	<div class="sidebox">
		<h2 class="title">
			<span class="r_option"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member">全部</a></span>
			群主
		</h2>
		<ul class="avatar_list">
		<!--{loop $modlist $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p>
			</li>
		<!--{/loop}-->
		</ul>
	</div>
	<!--{/if}-->
<!--{if $checklist}-->
	<div class="sidebox">
		<h2 class="title">
		<span class="r_option"><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=-2">立即处理</a></span>
		有新的待审核成员
		</h2>
		<ul class="avatar_list">
		<!--{loop $checklist $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p>
			</li>
		<!--{/loop}-->
		</ul>
	</div>
<!--{/if}-->
<!--{if $starlist}-->
	<div class="sidebox">
		<h2 class="title">明星成员</h2>
		<ul class="avatar_list s_clear">
		<!--{loop $starlist $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p>
			</li>
		<!--{/loop}-->
		</ul>
	</div>
<!--{/if}-->
	<!--{if $memberlist}-->
	<div class="sidebox">
		<h2 class="title">
			<span class="r_option"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member">全部($mtag[membernum])</a></span>
			普通成员
		</h2>
		<ul class="avatar_list">
		<!--{loop $memberlist $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p></li>
		<!--{/loop}-->
		</ul>
	</div>
	<!--{/if}-->

</div>

<!--{template footer}-->
