<!--{if empty($ajax_edit)}--><li id="comment_$value[cid]_li"><!--{/if}-->
	<!--{if $value[author]}-->
	<div class="avatar48"><a href="space.php?uid=$value[authorid]"><!--{avatar($value[authorid],small)}--></a></div>
	<!--{else}-->
	<div class="avatar48"><img src="image/magic/hidden.gif" class="avatar" /></div>
	<!--{/if}-->
	<div class="title">
		<div class="r_option">
		
		<!--{if $value['authorid'] != $_SGLOBAL['supe_uid'] && $value['author'] == "" && $_SGLOBAL[magic][reveal]}-->
			<a id="a_magic_reveal_{$value[cid]}" href="magic.php?mid=reveal&idtype=cid&id=$value[cid]" onclick="ajaxmenu(event,this.id,1)"><img src="image/magic/reveal.small.gif" class="magicicon">{$_SGLOBAL[magic][reveal]}</a>
			<span class="pipe">|</span>
		<!--{/if}-->
					
			<!--{if $value[authorid]==$_SGLOBAL[supe_uid]}-->
				<!--{if $_SGLOBAL[magic][anonymous]}-->
				<img src="image/magic/anonymous.small.gif" class="magicicon">
				<a id="a_magic_anonymous_{$value[cid]}" href="magic.php?mid=anonymous&idtype=cid&id=$value[cid]" onclick="ajaxmenu(event,this.id, 1)">{$_SGLOBAL[magic][anonymous]}</a>
				<span class="pipe">|</span>
				<!--{/if}-->
				<!--{if $_SGLOBAL[magic][flicker]}-->
				<img src="image/magic/flicker.small.gif" class="magicicon">
					<!--{if $value[magicflicker]}-->
				<a id="a_magic_flicker_{$value[cid]}" href="cp.php?ac=magic&op=cancelflicker&idtype=cid&id=$value[cid]" onclick="ajaxmenu(event,this.id)">取消{$_SGLOBAL[magic][flicker]}</a>
					<!--{else}-->
				<a id="a_magic_flicker_{$value[cid]}" href="magic.php?mid=flicker&idtype=cid&id=$value[cid]" onclick="ajaxmenu(event,this.id, 1)">{$_SGLOBAL[magic][flicker]}</a>
					<!--{/if}-->
				<span class="pipe">|</span>
				<!--{/if}-->
				
				<a href="cp.php?ac=comment&op=edit&cid=$value[cid]" id="c_$value[cid]_edit" onclick="ajaxmenu(event, this.id, 1)">编辑</a>
			<!--{/if}-->
			<!--{if $value[authorid]==$_SGLOBAL[supe_uid] || $value[uid]==$_SGLOBAL[supe_uid] || checkperm('managecomment')}-->
				<a href="cp.php?ac=comment&op=delete&cid=$value[cid]" id="c_$value[cid]_delete" onclick="ajaxmenu(event, this.id)">删除</a>
			<!--{/if}-->
			<!--{if $value[authorid]!=$_SGLOBAL[supe_uid] && ($value['idtype'] != 'uid' || $space[self])}-->
				<a href="cp.php?ac=comment&op=reply&cid=$value[cid]&feedid=$feedid" id="c_$value[cid]_reply" onclick="ajaxmenu(event, this.id, 1)">回复</a>
			<!--{/if}-->
			<a href="cp.php?ac=common&op=report&idtype=comment&id=$value[cid]" id="a_report_$value[cid]" onclick="ajaxmenu(event, this.id, 1)">举报</a>
		</div>
		
		<!--{if $value[author]}-->
		<a href="space.php?uid=$value[authorid]" id="author_$value[cid]">{$_SN[$value[authorid]]}</a> 
		<!--{else}-->
		匿名
		<!--{/if}-->
		<span class="gray"><!--{date('Y-m-d H:i',$value[dateline],1)}--></span>
		
	</div>
	
	<div class="detail<!--{if $value[magicflicker]}--> magicflicker<!--{/if}-->" id="comment_$value[cid]">$value[message]</div>
	
<!--{if empty($ajax_edit)}--></li><!--{/if}-->