<!--{template header}-->

<h3 class="feed_header">
	<a href="space.php?uid=$space[uid]" class="r_option">返回个人主页</a>
	个人资料
</h3>
<br>
<table cellspacing="0" cellpadding="0" class="infotable">

	<tr>
		<th width="120">经验:</th>
		<td>$space[experience] $space[star]</td>
	</tr>
	<tr>
		<th>用户组:</th>
		<td>{$_SGLOBAL[grouptitle][$space[groupid]][grouptitle]} <!--{eval g_icon($space[groupid]);}--></td>
	</tr>
	<tr>
		<th>积分:</th>
		<td>$space[credit]</td>
	</tr>
	<tr>
		<th>访问人次:</th>
		<td>$space[viewnum]</td>
	</tr>
	<tr>
		<th>创建时间:</th>
		<td><!--{date('Y-m-d',$space[dateline],1)}--></td>
	</tr>
	<tr>
		<th>上次登录:</th>
		<td><!--{if $space[lastlogin]}--><!--{date('Y-m-d',$space[lastlogin],1)}--><!--{/if}--></td>
	</tr>
	<!--{if $isonline}-->
	<tr style="color:red;">
		<th>最后活跃:</th>
		<td>$isonline (当前在线)</td>
	</tr>
	<!--{/if}-->

<!--{if $space[profile_base]}-->
	<tr>
		<td class="td_title" colspan="2">基本资料</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
<!--{/if}-->
<!--{if $space[sex]}-->
	<tr><th>性别:</th><td>$space[sex]</td></tr>
<!--{/if}-->
<!--{if $space[birth]}-->
	<tr><th>生日:</th><td>$space[birth]</td></tr>
<!--{/if}-->
<!--{if $space[blood]}-->
	<tr><th>血型:</th><td>$space[blood]</td></tr>
<!--{/if}-->
<!--{if $space[marry]}-->
	<tr><th>婚恋:</th><td>$space[marry]</td></tr>
<!--{/if}-->
<!--{if $space[residecity]}-->
	<tr><th>居住:</th><td>$space[residecity]</td></tr>
<!--{/if}-->
<!--{if $space[birthcity]}-->
	<tr><th>家乡:</th><td>$space[birthcity]</td></tr>
<!--{/if}-->

<!--{loop $fields $fieldid $value}-->
<!--{if $space["field_$fieldid"] && empty($value['invisible'])}-->
<!--{eval $fieldvalue = $space["field_$fieldid"]; $urlvalue = rawurlencode($fieldvalue);}-->
	<tr><th>$value[title]:</th><td><!--{if $value[allowsearch]}-->
	<a href="cp.php?ac=friend&op=search&field_$fieldid=$urlvalue&searchmode=1">$fieldvalue</a>
	<!--{else}-->$fieldvalue<!--{/if}--></td></tr>
<!--{/if}-->
<!--{/loop}-->

<!--{if $space[profile_contact]}-->
	<tr>
		<td class="td_title" colspan="2">联系方式</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
<!--{/if}-->
<!--{if $space[mobile]}-->
	<tr><th>手机:</th><td>$space[mobile]</td></tr>
<!--{/if}-->
<!--{if $space[qq]}-->
	<tr><th>QQ:</th><td>$space[qq]</td></tr>
<!--{/if}-->
<!--{if $space[msn]}-->
	<tr><th>MSN:</th><td>$space[msn]</td></tr>
<!--{/if}-->

<!--{if $space[edu]}-->
	<tr>
		<td class="td_title" colspan="2">教育情况</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>

	<tr><th>学校:</th><td>
		<!--{loop $space[edu] $value}-->
		<!--{eval $title_url = urlencode($value[title]);$subtitle_url = urlencode($value[subtitle]);}-->
		<p><a href="space.php?do=mtag&tagname=$title_url">$value[title]</a> <a href="space.php?do=mtag&tagname=$subtitle_url">$value[subtitle]</a> <span class="gray">($value[startyear] 年)</span></p>
		<!--{/loop}-->
	</td></tr>
<!--{/if}-->

<!--{if $space[work]}-->
	<tr>
		<td class="td_title" colspan="2">工作情况</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>

	<tr><th>公司或机构:</th><td>
	<!--{loop $space[work] $value}-->
	<!--{eval $title_url = urlencode($value[title]);$subtitle_url = urlencode($value[subtitle]);}-->
		<p><a href="space.php?do=mtag&tagname=$title_url">$value[title]</a> <a href="space.php?do=mtag&tagname=$subtitle_url">$value[subtitle]</a> <span class="gray">({$value[startyear]}年{$value[startmonth]}月 ~ 
			<!--{if $value[endyear]}-->{$value[endyear]}年<!--{/if}-->
			<!--{if $value[endmonth]}-->{$value[endmonth]}月<!--{/if}-->
			<!--{if !$value[endyear] && !$value[endmonth]}-->现在<!--{/if}-->)</span></p>
	<!--{/loop}-->
			</td></tr>
<!--{/if}-->

<!--{if $space[info]}-->
<!--{eval 
$infoarr = array(
	'trainwith' => '我想结交',
	'interest' => '兴趣爱好',
	'book' => '喜欢的书籍',
	'movie' => '喜欢的电影',
	'tv' => '喜欢的电视',
	'music' => '喜欢的音乐',
	'game' => '喜欢的游戏',
	'sport' => '喜欢的运动',
	'idol' => '偶像',
	'motto' => '座右铭',
	'wish' => '最近心愿',
	'intro' => '我的简介'
);
}-->
	<tr>
		<td class="td_title" colspan="2">个人介绍</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
<!--{loop $space[info] $value}-->
<!--{if $value[title]}-->
	<tr><th>{$infoarr[$value[subtype]]}:</th><td>$value[title]
	</td></tr>
<!--{/if}-->
<!--{/loop}-->
<!--{/if}-->

</table><br>
<!--{template footer}-->