<!--{eval $_TPL['titles'] = array($album['albumname'], '相册');}-->
<!--{eval $friendsname = array(1 => '仅好友可见',2 => '指定好友可见',3 => '仅自己可见',4 => '凭密码可见');}-->
<!--{template header}-->

<!--{if $space[self]}-->
<div class="searchbar floatright">
	<input name="key" value="" size="26" class="t_input" type="text">
	<input name="searchsubmit" value="搜索图片" class="submit" type="submit">
</div>
<h2 class="title"><img src="image/app/album.gif">相册 - $album[albumname]</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="space.php?uid=$album[uid]&do=album&id=$album[albumid]"><span>查看图片列表</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=album&view=me"><span>返回我的相册</span></a></li>
		<li class="null"><a href="cp.php?ac=album&op=edit&albumid=$album[albumid]">管理相册</a></li>
		<li class="null"><a href="cp.php?ac=upload&albumid=$album[albumid]">上传新图片</a></li>
	</ul>
	<!--{if $_SGLOBAL[refer]}-->
	<div class="r_option">
		<a  href="$_SGLOBAL[refer]">&laquo; 返回上一页</a>
	</div>
	<!--{/if}-->
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "相册 - $album[albumname]";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&view=me\">TA的所有相册</a>";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&id=$_GET[id]\">$album[albumname]</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->

<div class="h_status">
	<a href="cp.php?ac=share&type=album&id=$album[albumid]" id="a_share" onclick="ajaxmenu(event, this.id, 1)" class="a_share">分享</a>
	<div class="r_option">
		<!--{if $_SGLOBAL[supe_uid] == $album[uid] || checkperm('managealbum')}--><a href="admincp.php?ac=album&albumid=$album[albumid]" target="_blank">删除</a><span class="pipe">|</span><!--{/if}-->
		<a href="cp.php?ac=common&op=report&idtype=albumid&id=$album[albumid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">举报</a><span class="pipe">|</span>
	</div>
	$album[albumname] - 
	<!--{if $album[picnum]}-->共 $album[picnum] 张图片<!--{/if}-->
	<!--{if $album['friend']}-->
	<span class="locked gray">{$friendsname[$value[friend]]}</span>
	<!--{/if}-->
</div>


<!--{if $list}-->
<table cellspacing="6" cellpadding="0" width="100%" class="photo_list">
	<tr>
		<!--{loop $list $key $value}-->
			<td align="center">
				<a href="space.php?uid=$value[uid]&do=$do&picid=$value[picid]"><img src="$value[pic]" alt="" /></a>
			</td>
			<!--{if $key%4==3}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
	</tr>
</table>
<div class="page">$multi</div>
<!--{else}-->
<div class="c_form">该相册下还没有图片。</div>
<!--{/if}-->

<!--{template footer}-->