<!--{eval $_TPL['titles'] = array($tag['tagname'], '标签');}-->
<!--{template header}-->

<h2 class="title">标签 - $tag[tagname] ($tag[blognum] 篇日志)</h2>
<div class="tabs_header">
	<a href="cp.php?ac=share&type=tag&id=$tag[tagid]" id="a_share" onclick="ajaxmenu(event, this.id, 1)" class="a_share">分享</a>
	<ul class="tabs">
		<li class="active"><a href="space.php?do=tag&id=$tag[tagid]"><span>日志列表</span></a></li>
		<li><a href="space.php?do=tag"><span>返回标签列表</span></a></li>
	</ul>
</div>

<div class="topic_list">
	<table cellspacing="0" cellpadding="0" class="infotable">
		<thead>
			<tr>
				<td class="subject">标题</td>
				<td class="author">作者(回复数)</td>
				<td class="lastpost">发布时间</td>
			</tr>
		</thead>
		<!--{loop $list $key $value}-->
		<tr<!--{if $key%2==1}--> class="alt"<!--{/if}-->>
			<td class="subject"><a href="space.php?uid=$value[uid]&do=blog&id=$value[blogid]" target="_blank">$value[subject]</a></td>
			<td class="author"><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a><em>($value[replynum])</em></td>
			<td class="lastpost"><!--{date('m-d H:i',$value[dateline],1)}--></td>
		</tr>
		<!--{/loop}-->
	</table>
	
	<!--{if $prinum}-->
	<div class="notice">本页有 $prinum 篇日志因隐私设置而隐藏</div>
	<!--{/if}-->
	
	<div class="page">$multi</div>
</div>

<!--{template footer}-->
