<!--{eval $_TPL['titles'] = array($tpl_title, '分享');}-->
<!--{template header}-->

<!--{if $space[self]}-->
<h2 class="title"><img src="image/app/share.gif" />分享</h2>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li$actives[we]><a href="space.php?uid=$space[uid]&do=share"><span>好友的分享</span></a></li><!--{/if}-->
		<li class="active"><a href="space.php?uid=$space[uid]&do=share&view=me"><span>我的分享</span></a></li>
		<li$actives[all]><a href="space.php?uid=$space[uid]&do=share&view=all"><span>大家的分享</span></a></li>
	</ul>
	<!--{if $_SGLOBAL[refer]}-->
	<div class="r_option">
		<a  href="$_SGLOBAL[refer]">&laquo; 返回上一页</a>
	</div>
	<!--{/if}-->
</div>
<!--{else}-->
<!--{eval
	$_TPL['spacetitle'] = "分享";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=share&view=me\">TA的所有分享</a>";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=share&id=$share[sid]\">查看分享</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->

<div id="share_ul">
	<div class="title">
		<div class="r_option">
			<!--{if $_SGLOBAL[supe_uid] == $share[uid] || checkperm('manageshare')}-->
			<a href="cp.php?ac=topic&op=join&id=$share[sid]&idtype=sid" id="a_topicjoin_$share[sid]" onclick="ajaxmenu(event, this.id)">凑热闹</a><span class="pipe">|</span>
			<a href="cp.php?ac=share&sid=$share[sid]&op=delete&type=view" id="share_delete_$share[sid]" onclick="ajaxmenu(event, this.id)">删除</a><span class="pipe">|</span>
			<!--{/if}-->
			<!--{if checkperm('manageshare')}-->
			<a href="cp.php?ac=share&sid=$share[sid]&op=edithot" id="a_hot_$share[sid]" onclick="ajaxmenu(event, this.id)">热度</a><span class="pipe">|</span>
			<!--{/if}-->
			<a href="cp.php?ac=common&op=report&idtype=sid&id=$share[sid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">举报</a>
		</div>
		<h1>
			$share[title_template]
		</h1>
		<p style="padding:5px 0;">
			<!--{if $share[hot]}--><span class="hot"><em>热</em>$share[hot]</span><!--{/if}-->
			<!--{date('Y-m-d H:i',$share[dateline],1)}-->
		</p>
	</div>
	<div id="share_article" class="article">

	<!--{if $topic}-->
	<div class="r_option">
		<img src="image/app/topic.gif" align="absmiddle">
		<strong>凑个热闹</strong>：<a href="space.php?do=topic&topicid=$topic[topicid]">$topic[subject]</a>
	</div>
	<!--{/if}-->


	<!--{if $share['image']}-->
	<div id="share_image" style="padding:10px 0;">
		<a href="$share[image_link]"><img src="$share[image]" class="summaryimg image" alt="" /></a>
	</div>
	<!--{/if}-->



	{$share[body_template]}

	<!--{if 'video' == $share['type']}-->
	<div class="box" id="flash_div_$share[sid]">
		<script>showFlash('{$share['body_data']['host']}', '{$share['body_data']['flashvar']}', '', '{$share['sid']}');</script>
	</div>
	<!--{elseif 'music' == $share['type']}-->
	<div class="box" id="flash_div_$share[sid]">
		<script>showFlash('music', '{$share['body_data']['musicvar']}', '', '{$share['sid']}');</script>
	</div>
	<!--{elseif 'flash' == $share['type']}-->
	<div class="box" id="flash_div_$share[sid]">
		<script>showFlash('flash', '{$share['body_data']['flashaddr']}', '', '{$share['sid']}');</script>
	</div>
	<!--{/if}-->

	</div>
	<div class="quote"><span class="q">$share[body_general]</span></div>
</div>
<div class="page">$multi</div>
<div class="comments_list" id="comment">

	<!--{if $cid}-->
	<div class="notice">
		当前只显示与你操作相关的单个评论，<a href="space.php?uid=$share[uid]&do=share&id=$share[sid]">点击此处查看全部评论</a>
	</div>
	<!--{/if}-->

	<ul id="comment_ul">
	<!--{loop $list $value}-->
		<!--{template space_comment_li}-->
	<!--{/loop}-->
	</ul>
</div>
<div class="page">$multi</div>

<!--{if !$share[noreply]}-->
<form id="quickcommentform_{$id}" name="quickcommentform_{$id}" action="cp.php?ac=comment" method="post" class="quickpost">
<table cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="###" id="comment_face" onclick="showFace(this.id, 'comment_message');return false;"><img src="image/facelist.gif" align="absmiddle" /></a>
			<!--{if $_SGLOBAL['magic']['doodle']}-->
			<a id="a_magic_doodle" href="magic.php?mid=doodle&showid=comment_doodle&target=comment_message" onclick="ajaxmenu(event, this.id, 1)"><img src="image/magic/doodle.small.gif" class="magicicon" />涂鸦板</a>
			<!--{/if}-->
			<br />
			<textarea id="comment_message" name="message" rows="5" onkeydown="ctrlEnter(event, 'commentsubmit_btn');" style="width:380px;"></textarea>
		</td>
	</tr>
	<tr>
		<td>
			<input type="hidden" name="refer" value="space.php?uid=$share[uid]&do=$do&id=$id" />
			<input type="hidden" name="id" value="$id">
			<input type="hidden" name="idtype" value="sid">
			<input type="hidden" name="commentsubmit" value="true" />
			<input type="button" id="commentsubmit_btn" name="commentsubmit_btn" class="submit" value="评论" onclick="ajaxpost('quickcommentform_{$id}', 'comment_add')" />
			<span id="__quickcommentform_{$id}"></span>
		</td>
	</tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
<!--{/if}-->

<script type="text/javascript">
<!--{if $share['image']}-->
resizeImg('share_image','500');
<!--{/if}-->
//彩虹炫
var elems = selector('div[class~=magicflicker]'); 
for(var i=0; i<elems.length; i++){
	magicColor(elems[i]);
}

</script>


<!--{template footer}-->