.webim-hotpost {
        padding:1em .5em;
        overflow-x: hidden;
        overflow-y: auto;
		max-height: 300px;
}
* html .webim-menu{
	height: expression(this.offsetHeight > 300 ? 300+'px' : 'auto');
}
.webim-hotpost .webim-hotpost-empty{

}
.webim-hotpost ul{
        list-style: none;
}
.webim-hotpost ul li{
        overflow: hidden;
        padding:.1em 0;
}
