
/*webim user*/
.webim .webim-user{
        margin-left: 6em;
}
.webim .webim-user-pic{
        float: left;
        margin-left: -5.5em;
        margin-top: -1.8em;
}
.webim .webim-user-pic img{
}
.webim .webim-user-status{
        height: 3em;
        display: block;
}
/**/
.webim .webim-chat .webim-chat-header{
	border-left-width:0;
	border-right-width:0;
}
.webim .webim-chat-content{
        height: 16em;
        overflow-y:auto;
        overflow-x:visible;
        *background:url(about:blank);
}
.webim .webim-chat-status{
        font-style: italic;
        margin-left: .8em;

}
.webim .webim-chat .webim-chat-actions{
        border-width:0;
        border-top-width:1px;
}
.webim .webim-chat-t{
        width:100%;
        border-spacing:0;
        border:0;
}
.webim .webim-chat-t em{
        margin: .1em .2em;
}
.webim .webim-chat-input-wrap{
}
.webim .webim-chat-input{
        border:none;
        background: transparent;
        overflow: auto;
        width: 100%;
        height: 3em;
        padding: .3em 0 .2em;
}
.webim .webim-chat .webim-chat-notice{
        border-right-width:0;
        border-left-width:0;
        display: none;
        padding: 0 .5em;
        position: relative;
}
.webim .webim-chat .webim-chat-notice-wrap{
}
.webim .webim-chat .webim-chat-tools{
        padding: 0 .3em;
        border-left-width: 0;
        border-right-width: 0;
}
.webim .webim-chat-tools a, .webim .webim-chat-tools a em{
        float: left;
}
.webim .webim-chat-tools a{
        padding: .2em;
}
.webim .webim-chat-tool-content{
        position: relative;
        height:0;
}

/*member*/
.webim .webim-member{
	margin-top:  -.1em;
	height: 16em;
	width: 7em;
	left: -7.1em;
	position: absolute;
}
.webim .webim-chat .webim-member .webim-bgiframe{
	top: -.1em;
	left: -.1em;
	width: 7.2em;
	height: 16.2em;
}
.webim .webim-member ul{
	height: 16em;
	width: 7em;
	position: absolute;
        overflow-y:auto;
        overflow-x:hidden;
	list-style: none;
}
.webim .webim-member li{
	margin: 0.1em 0.1em 0.1em 0.5em;
}
